<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.form.core.mapper.FormByteArrayMapper">

	<resultMap id="formByteArrayResultMap" type="com.glaf.form.core.domain.FormByteArray">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="deploymentId" column="DEPLOYMENTID_"
			jdbcType="VARCHAR" />
		<result property="key" column="KEY_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="status" column="STATUS_" jdbcType="INTEGER" />
		<result property="bytes" column="BYTES_" jdbcType="BLOB" />
	</resultMap>


	<resultMap id="formByteArrayResultMap_postgres" type="com.glaf.form.core.domain.FormByteArray">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="deploymentId" column="DEPLOYMENTID_"
			jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="status" column="STATUS_" jdbcType="INTEGER" />
		<result property="bytes" column="BYTES_" jdbcType="BINARY" />
	</resultMap>


	<insert id="insertFormByteArray" parameterType="com.glaf.form.core.domain.FormByteArray">
		insert into FORM_BYTEARRAY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="deploymentId != null">
				,DEPLOYMENTID_
			</if>
			<if test="key != null">
				,KEY_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="status != null">
				,STATUS_
			</if>
			<if test="bytes != null">
				,BYTES_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="deploymentId != null">
				,#{deploymentId, jdbcType=VARCHAR}
			</if>
			<if test="key != null">
				,#{key, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				,#{status, jdbcType=INTEGER}
			</if>
			<if test="bytes != null">
				,#{bytes, jdbcType=BLOB}
			</if>
		</trim>
	</insert>


	<insert id="insertFormByteArray_postgres" parameterType="com.glaf.form.core.domain.FormByteArray">
		insert into FORM_BYTEARRAY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="deploymentId != null">
				,DEPLOYMENTID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="status != null">
				,STATUS_
			</if>
			<if test="bytes != null">
				,BYTES_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="deploymentId != null">
				,#{deploymentId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				,#{status, jdbcType=INTEGER}
			</if>
			<if test="bytes != null">
				,#{bytes, jdbcType=BINARY}
			</if>
		</trim>
	</insert>


	<delete id="deleteFormByteArrayById" parameterType="string">
		delete from
		FORM_BYTEARRAY
		where ID_ = #{id}
	</delete>


	<select id="getFormByteArrayById" parameterType="string"
		resultMap="formByteArrayResultMap">
		select * from FORM_BYTEARRAY where ID_ = #{id}
	</select>


	<select id="getFormByteArrayById_postgres" parameterType="string"
		resultMap="formByteArrayResultMap_postgres">
		select * from FORM_BYTEARRAY where ID_ = #{id}
	</select>


	<select id="getFormByteArrays" parameterType="com.glaf.form.core.query.FormByteArrayQuery"
		resultMap="formByteArrayResultMap">
		select E.ID_, E.DEPLOYMENTID_, E.NAME_, E.TYPE_, E.CREATEDATE_,
		E.CREATEBY_, E.STATUS_
		<include refid="selectFormByteArraysSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.CREATEDATE_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getFormByteArrayCount" parameterType="com.glaf.form.core.query.FormByteArrayQuery"
		resultType="int">
		select count(*)
		<include refid="selectFormByteArraysSql" />
	</select>


	<sql id="selectFormByteArraysSql">

		from FORM_BYTEARRAY E

		<where>
			1 = 1

			<if test="deploymentId != null and deploymentId != '' ">
				and E.DEPLOYMENTID_ = #{deploymentId}
			</if>

			<if test="deploymentIds != null and deploymentIds.size() &gt; 0">
				and E.DEPLOYMENTID_ IN
				<foreach item="x_deploymentId" index="index" collection="deploymentIds"
					open="(" separator="," close=")">
					#{x_deploymentId}
				</foreach>
			</if>

			<if test="key != null and key != '' ">
				and E.KEY_ = #{key}
			</if>

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="type != null and type != '' ">
				and E.TYPE_ = #{type}
			</if>

			<if test="types != null and types.size() &gt; 0">
				and E.TYPE_ IN
				<foreach item="x_type" index="index" collection="types"
					open="(" separator="," close=")">
					#{x_type}
				</foreach>
			</if>

			<if test="createDateGreaterThanOrEqual != null">
				and E.CREATEDATE_ &gt;= #{createDateGreaterThanOrEqual}
			</if>

			<if test="createDateLessThanOrEqual != null">
				and E.CREATEDATE_ &lt;= #{createDateLessThanOrEqual}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="status != null">
				and E.STATUS_ = #{status}
			</if>

		</where>
	</sql>

</mapper>