		 <li id="login_copyright_7338" tmpid="7338" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="登录页面1、2、3、4版权区">
		   <div class="mymedia-body"><h4 class="mymedia-heading">登录页面1、2、3、4版权区</h4></div>
		 </li>
		 <li id="login_copyright_7339" tmpid="7339" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="登录页面5、6版权区">
		   <div class="mymedia-body"><h4 class="mymedia-heading">登录页面5、6版权区</h4></div>
		 </li>
