 <div class="form-group">
      <div class="input-group">
          <div class="icheck-list">
              <label>
                  <input type="radio" name="radio1" class="icheck id frame-variable" frame-variable="fv1" data-radio="iradio_minimal-grey"> Radio Button 1 </label>
              <label>
                  <input type="radio" name="radio1" class="icheck id frame-variable" frame-variable="fv2" data-radio="iradio_minimal-grey"> Radio Button 2 </label>
              <label>
                  <input type="radio" name="radio1" class="icheck id frame-variable" frame-variable="fv3" data-radio="iradio_minimal-grey"> Radio Button 3 </label>
          </div>
      </div>
  </div>