<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.teim.mapper.EimServerDataImpMapper">

 	<resultMap id="eimServerDataImpResultMap"	type="com.glaf.teim.domain.EimServerDataImp">
        <id property="id" column="ID_" jdbcType="VARCHAR"/>
        <result property="name" column="NAME_" jdbcType="VARCHAR"/>
        <result property="appId" column="APP_ID_" jdbcType="VARCHAR"/>
        <result property="tmpId" column="TMP_ID_" jdbcType="VARCHAR"/>
        <result property="params" column="PARAMS_" jdbcType="VARCHAR"/>
        <result property="emptyTable" column="EMPTY_TABLE_" jdbcType="INTEGER"/>
        <result property="preSql" column="PRE_SQL_" jdbcType="VARCHAR"/>
        <result property="incrementFlag" column="INCREMENT_FLAG_" jdbcType="INTEGER"/>
        <result property="targetDatabase" column="TARGET_DATABASE_" jdbcType="VARCHAR"/>
        <result property="targetTable" column="TARGET_TABLE_" jdbcType="VARCHAR"/>
        <result property="columnMapping" column="COLUMN_MAPPING_" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATEBY_" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATEBY_" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATETIME_" jdbcType="TIMESTAMP"/>
        <result property="deleteFlag" column="DELETE_FLAG_" jdbcType="INTEGER"/>
	</resultMap>

 
	<insert id="insertEimServerDataImp" parameterType="com.glaf.teim.domain.EimServerDataImp">
		insert into EIM_SERVER_DATA_IMP 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    ID_
			<if test="name != null">
				,NAME_ 
			</if>
			<if test="appId != null">
				,APP_ID_ 
			</if>
			<if test="tmpId != null">
				,TMP_ID_ 
			</if>
			<if test="emptyTable != null">
				,EMPTY_TABLE_ 
			</if>
			<if test="preSql != null">
				,PRE_SQL_ 
			</if>
			<if test="incrementFlag != null">
				,INCREMENT_FLAG_ 
			</if>
			<if test="params != null">
				,PARAMS_ 
			</if>
			<if test="targetDatabase != null">
				,TARGET_DATABASE_ 
			</if>
			<if test="targetTable != null">
				,TARGET_TABLE_ 
			</if>
			<if test="columnMapping != null">
				,COLUMN_MAPPING_ 
			</if>
			<if test="createBy != null">
				,CREATEBY_ 
			</if>
			<if test="createTime != null">
				,CREATETIME_ 
			</if>
			<if test="updateBy != null">
				,UPDATEBY_ 
			</if>
			<if test="updateTime != null">
				,UPDATETIME_ 
			</if>
			<if test="deleteFlag != null">
				,DELETE_FLAG_ 
			</if>
        </trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			  #{id, jdbcType=VARCHAR}
	     
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="appId != null">
				,#{appId, jdbcType=VARCHAR}
			</if>
			<if test="tmpId != null">
				,#{tmpId, jdbcType=VARCHAR}
			</if>
			<if test="emptyTable != null">
				,#{emptyTable, jdbcType=INTEGER}
			</if>
			<if test="preSql != null">
				,#{preSql, jdbcType=VARCHAR}
			</if>
			<if test="incrementFlag != null">
				,#{incrementFlag, jdbcType=INTEGER}
			</if>
			<if test="params != null">
				,#{params, jdbcType=VARCHAR}
			</if>
			<if test="targetDatabase != null">
				,#{targetDatabase, jdbcType=VARCHAR}
			</if>
			<if test="targetTable != null">
				,#{targetTable, jdbcType=VARCHAR}
			</if>
			<if test="columnMapping != null">
				,#{columnMapping, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				,#{updateTime, jdbcType=TIMESTAMP}
			</if>
			<if test="deleteFlag != null">
				,#{deleteFlag, jdbcType=INTEGER}
			</if>
	    </trim>
    </insert>

	 
	<update id="updateEimServerDataImp" parameterType="com.glaf.teim.domain.EimServerDataImp">
		update EIM_SERVER_DATA_IMP
		set
        <trim prefix="" suffix="" suffixOverrides=",">		
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				APP_ID_ = #{appId, jdbcType=VARCHAR},
			</if>
			<if test="tmpId != null">
				TMP_ID_ = #{tmpId, jdbcType=VARCHAR},
			</if>
			<if test="emptyTable != null">
				EMPTY_TABLE_ = #{emptyTable, jdbcType=INTEGER},
			</if>
			<if test="preSql != null">
				PRE_SQL_ = #{preSql, jdbcType=VARCHAR},
			</if>
			<if test="incrementFlag != null">
				INCREMENT_FLAG_ = #{incrementFlag, jdbcType=INTEGER},
			</if>
			<if test="params != null">
				PARAMS_ = #{params, jdbcType=VARCHAR},
			</if>
			<if test="targetDatabase != null">
				TARGET_DATABASE_ = #{targetDatabase, jdbcType=VARCHAR},
			</if>
			<if test="targetTable != null">
				TARGET_TABLE_ = #{targetTable, jdbcType=VARCHAR},
			</if>
			<if test="columnMapping != null">
				COLUMN_MAPPING_ = #{columnMapping, jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATEBY_ = #{createBy, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATETIME_ = #{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				UPDATEBY_ = #{updateBy, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATETIME_ = #{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				DELETE_FLAG_ = #{deleteFlag, jdbcType=INTEGER},
			</if>
        </trim>
		where
          ID_ = #{id, jdbcType=VARCHAR}
		
    </update>
    <update id="updateEimServerDataImpLog" parameterType="map">
             update EIM_SERVER_DATA_IMP set PARAMS_ = #{params, jdbcType=VARCHAR} where  ID_ = #{id, jdbcType=VARCHAR}
    </update>
	<delete id="deleteEimServerDataImpById" parameterType="string"> 
        delete from EIM_SERVER_DATA_IMP
        where ID_ =	#{id}
	</delete>

	
	<delete id="deleteEimServerDataImps" parameterType="com.glaf.teim.query.EimServerDataImpQuery">
		delete from EIM_SERVER_DATA_IMP
		where ( 
 			  ID_ IN
              <foreach item="x_id" index="index" collection="ids" 
                     open="(" separator="," close=")">
                  #{x_id}
              </foreach>
		)
	</delete>


	<select id="getEimServerDataImpById" parameterType="string" resultMap="eimServerDataImpResultMap">
		select * from EIM_SERVER_DATA_IMP where ID_ = #{id}
	</select>


	<select id="getEimServerDataImps" 
	    parameterType="com.glaf.teim.query.EimServerDataImpQuery"
		resultMap="eimServerDataImpResultMap">
		select  E.*
		<include refid="selectEimServerDataImpsSql" />
		<choose>
		  <when test="orderBy != null">
		     order by ${orderBy}
          </when>
		  <otherwise>
		      order by E.ID_ desc
		  </otherwise>
        </choose>
	</select>


	<select id="getEimServerDataImpCount" 
	    parameterType="com.glaf.teim.query.EimServerDataImpQuery"
		resultType="int">
		select count(*)
		<include refid="selectEimServerDataImpsSql" />
	</select>

    <!-- 获取外部服务数据导入实例 -->
    <select id="getEimServerDataImpData" 
		resultType="map">
		select ID_,NAME_ from EIM_SERVER_DATA_IMP
	</select>

	<sql id="selectEimServerDataImpsSql">

		from EIM_SERVER_DATA_IMP E
		
		<where>
		       1 = 1  
			 
	        
			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
            </if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
            </if>

			<if test="names != null and names.size() &gt; 0">
			    and E.NAME_ IN
                <foreach item="x_name" index="index" collection="names" 
                     open="(" separator="," close=")">
                  #{x_name}
                </foreach>
			</if>
	        
			<if test="appId != null and appId != '' ">
				and E.APP_ID_ = #{appId}
            </if>

			<if test="appIdLike != null and appIdLike != '' ">
				and E.APP_ID_ like #{appIdLike}
            </if>

			<if test="appIds != null and appIds.size() &gt; 0">
			    and E.APP_ID_ IN
                <foreach item="x_appId" index="index" collection="appIds" 
                     open="(" separator="," close=")">
                  #{x_appId}
                </foreach>
			</if>
	        
			<if test="tmpId != null and tmpId != '' ">
				and E.TMP_ID_ = #{tmpId}
            </if>

			<if test="tmpIdLike != null and tmpIdLike != '' ">
				and E.TMP_ID_ like #{tmpIdLike}
            </if>

			<if test="tmpIds != null and tmpIds.size() &gt; 0">
			    and E.TMP_ID_ IN
                <foreach item="x_tmpId" index="index" collection="tmpIds" 
                     open="(" separator="," close=")">
                  #{x_tmpId}
                </foreach>
			</if>

			<if test="emptyTable != null">
				and E.EMPTY_TABLE_ = #{emptyTable}
            </if>

			<if test="emptyTableGreaterThanOrEqual != null">
				and E.EMPTY_TABLE_ &gt;= #{emptyTableGreaterThanOrEqual}
            </if>

			<if test="emptyTableLessThanOrEqual != null">
				and E.EMPTY_TABLE_ &lt;= #{emptyTableLessThanOrEqual}
            </if>

			<if test="emptyTables != null and emptyTables.size() &gt; 0">
			    and E.EMPTY_TABLE_ IN
                <foreach item="x_emptyTable" index="index" collection="emptyTables" 
                     open="(" separator="," close=")">
                  #{x_emptyTable}
                </foreach>
			</if>
      

			<if test="incrementFlag != null">
				and E.INCREMENT_FLAG_ = #{incrementFlag}
            </if>

			<if test="incrementFlagGreaterThanOrEqual != null">
				and E.INCREMENT_FLAG_ &gt;= #{incrementFlagGreaterThanOrEqual}
            </if>

			<if test="incrementFlagLessThanOrEqual != null">
				and E.INCREMENT_FLAG_ &lt;= #{incrementFlagLessThanOrEqual}
            </if>

			<if test="incrementFlags != null and incrementFlags.size() &gt; 0">
			    and E.INCREMENT_FLAG_ IN
                <foreach item="x_incrementFlag" index="index" collection="incrementFlags" 
                     open="(" separator="," close=")">
                  #{x_incrementFlag}
                </foreach>
			</if>
      
	        
			<if test="targetDatabase != null and targetDatabase != '' ">
				and E.TARGET_DATABASE_ = #{targetDatabase}
            </if>

			<if test="targetDatabaseLike != null and targetDatabaseLike != '' ">
				and E.TARGET_DATABASE_ like #{targetDatabaseLike}
            </if>

			<if test="targetDatabases != null and targetDatabases.size() &gt; 0">
			    and E.TARGET_DATABASE_ IN
                <foreach item="x_targetDatabase" index="index" collection="targetDatabases" 
                     open="(" separator="," close=")">
                  #{x_targetDatabase}
                </foreach>
			</if>
	        
			<if test="targetTable != null and targetTable != '' ">
				and E.TARGET_TABLE_ = #{targetTable}
            </if>

			<if test="targetTableLike != null and targetTableLike != '' ">
				and E.TARGET_TABLE_ like #{targetTableLike}
            </if>

			<if test="targetTables != null and targetTables.size() &gt; 0">
			    and E.TARGET_TABLE_ IN
                <foreach item="x_targetTable" index="index" collection="targetTables" 
                     open="(" separator="," close=")">
                  #{x_targetTable}
                </foreach>
			</if>
	        
			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
            </if>

			<if test="createByLike != null and createByLike != '' ">
				and E.CREATEBY_ like #{createByLike}
            </if>

			<if test="createBys != null and createBys.size() &gt; 0">
			    and E.CREATEBY_ IN
                <foreach item="x_createBy" index="index" collection="createBys" 
                     open="(" separator="," close=")">
                  #{x_createBy}
                </foreach>
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
            </if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
            </if>

	        
			<if test="updateBy != null and updateBy != '' ">
				and E.UPDATEBY_ = #{updateBy}
            </if>

			<if test="updateByLike != null and updateByLike != '' ">
				and E.UPDATEBY_ like #{updateByLike}
            </if>

			<if test="updateBys != null and updateBys.size() &gt; 0">
			    and E.UPDATEBY_ IN
                <foreach item="x_updateBy" index="index" collection="updateBys" 
                     open="(" separator="," close=")">
                  #{x_updateBy}
                </foreach>
			</if>

			<if test="updateTimeGreaterThanOrEqual != null">
				and E.UPDATETIME_ &gt;= #{updateTimeGreaterThanOrEqual}
            </if>

			<if test="updateTimeLessThanOrEqual != null">
				and E.UPDATETIME_ &lt;= #{updateTimeLessThanOrEqual}
            </if>


			<if test="deleteFlag != null">
				and E.DELETE_FLAG_ = #{deleteFlag}
            </if>

			<if test="deleteFlagGreaterThanOrEqual != null">
				and E.DELETE_FLAG_ &gt;= #{deleteFlagGreaterThanOrEqual}
            </if>

			<if test="deleteFlagLessThanOrEqual != null">
				and E.DELETE_FLAG_ &lt;= #{deleteFlagLessThanOrEqual}
            </if>

			<if test="deleteFlags != null and deleteFlags.size() &gt; 0">
			    and E.DELETE_FLAG_ IN
                <foreach item="x_deleteFlag" index="index" collection="deleteFlags" 
                     open="(" separator="," close=")">
                  #{x_deleteFlag}
                </foreach>
			</if>
      
            <if test="dataRequest != null and dataRequest.filter != null ">
			    <include refid="com.glaf.global.GlobalMapper.dataRequestFilterCondition" />
			</if>
			 
		</where>
	</sql>

</mapper>