<div class="mt-sp-jqfileupload component horizontal" style ="text-align: left;" data-role="jqfileupload2">
	<span class="btn btn-success fileinput-button" style="vertical-align: top;"><i class="glyphicon glyphicon-plus"></i><span>选择文件</span> 
		<input class="mt-sp-fileupload" type="file" name="file" multiple/>
	</span>
	<div class="progress" style="display:none;">
		<div class="progress-bar progress-bar-success"></div>
	</div>
	<div class="mt-sp-files" style="display: inline-block;padding-top: 6px;"></div> 
</div>