  <div class="portlet box red">
      <div class="portlet-title">
          <div class="caption">
              <i class="fa fa-gift"></i><span class="id frame-variable" frame-variable="fv1">Portlet </span></div>
          <ul class="nav nav-tabs">
              <li class="active">
                  <a href="#portlet_tab_1" data-toggle="tab"> Tab 1 </a>
              </li>
              <li>
                  <a href="#portlet_tab_2" data-toggle="tab"> Tab 2 </a>
              </li>
          </ul>
      </div>
      <div class="portlet-body">
          <div class="tab-content">
              <div class="containerComp tab-pane active" id="portlet_tab_1" style="height:200px;overflow: auto;">
              </div>
              <div class=" containerComp tab-pane" id="portlet_tab_2" style="height:200px;overflow: auto;">
              </div>
          </div>
      </div>
  </div>