<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/plugins/bootstrap/nestable/css/ace.min.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/plugins/bootstrap/jPlayer/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
        <link rel='stylesheet' type='text/css' href='${contextPath}/scripts/jquery-weui-master/src/lib/weui.min.css' />
		<link rel='stylesheet' type='text/css' href='${contextPath}/scripts/jquery-weui-master/src/lib/jquery-weui.css' />
		<link rel='stylesheet' type='text/css' href='${contextPath}/scripts/jquery-weui-master/demos/css/demos.css' />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!--开始数值增量输入框-->
		 <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<!--结束数值增量输入框-->
		<!--开始颜色选择器-->
		<link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" type="text/css" />
        <!--结束颜色选择器-->
		<!--<link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/nouislider/nouislider.min.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/nouislider/nouislider.pips.css" rel="stylesheet" type="text/css" />-->
		<link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/slideout/test/test.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/slideout/index.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="${contextPath}/scripts/mmenu/src/css/jquery.mmenu.all.css">
		<!--开始下拉选择框-->
		<link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
	    <!--结束下拉选择框-->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <!-- jstree
        <link rel="stylesheet" href="${contextPath}/scripts/jstree/dist/themes/default/style.min.css">
         -->
        <link rel="stylesheet/less" type="text/css" href="${contextPath}/scripts/plugins/bootstrap/diagrambt/css/orgcharts.css" />
		<link rel="stylesheet/less" type="text/css" href="${contextPath}/scripts/plugins/bootstrap/editor/css/editors.css" />
		<link rel="stylesheet/less" type="text/css" href="${contextPath}/scripts/jquery-ui.min.css" />
		<link rel="stylesheet/less" type="text/css" href="${contextPath}/scripts/plugins/bootstrap/spreadjs/spreadjs.css" />
        <!-- select2 -->
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- iCheck -->
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" />
        <!-- jquery fileupload -->
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="${contextPath}/scripts/designer/metro_designer.css">
        <link rel="stylesheet" href="${contextPath}/scripts/designer/bootstrap_extend.css">
        <link rel="shortcut icon" href="favicon.ico" /> 
        <!-- touchspin -->
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/touchspin/css/bootstrap.touchspin.min.css"> 
        <!-- tagsinput -->
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/tagsinput/bootstrap-tagsinput.css">
		<!-- datepicker -->
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/datepicker/css/bootstrap-datepicker3.min.css">
        <!-- datetimepicker -->
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css">    
        <link rel="stylesheet" href="${contextPath}/scripts/mui/css/mui.min.css">    
        <!-- calendar -->
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/calendar/css/fullcalendar.min.css">
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/calendar/ext/calendar.extends.css">
         <!-- megamenu --> 
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/menu/ext/megamenu.extends.css">
		 <!-- treelist -->
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/treelist/css/treelist_demo.css">
         <!-- tabs -->
        <link href="${contextPath}/scripts/plugins/bootstrap/tabs/style/plugins.css" rel="stylesheet" type="text/css" />
        <!-- login页面 --> 
        <link rel="stylesheet" type="text/css" href="${contextPath}/scripts/plugins/bootstrap/login/css/login.css">
        <link rel="stylesheet" type="text/css" href="${contextPath}/scripts/plugins/bootstrap/login/css/login-2.css">		 
        <link rel="stylesheet" type="text/css" href="${contextPath}/scripts/plugins/bootstrap/login/css/login-3.css">		 
        <link rel="stylesheet" type="text/css" href="${contextPath}/scripts/plugins/bootstrap/login/css/login-4.css">		 
        <link rel="stylesheet" type="text/css" href="${contextPath}/scripts/plugins/bootstrap/login/css/login-5.css">	
        <!-- gridList -->
        <link rel='stylesheet' href='${contextPath}/scripts/plugins/bootstrap/gridList/css/gridList.extends.css'/>
        <!-- dhxgantt -->
        <link rel='stylesheet' href='${contextPath}/scripts/plugins/bootstrap/dhxgantt/codebase/dhtmlxgantt.css'/>
        <link rel='stylesheet' href='${contextPath}/scripts/plugins/bootstrap/sidebar/css/sidebar.extends.css'/>
        <!--definedCardModel -->
        <link rel='stylesheet' href='${contextPath}/scripts/plugins/bootstrap/definedCard/css/definedCard.css'/>
        <!-- mswitch -->
        <link rel='stylesheet' href='${contextPath}/scripts/plugins/bootstrap/mswitch/mswitch.extend.css'/>
        <!-- customSelect -->
	<!--
        <link rel='stylesheet' type='text/css' href='${contextPath}/scripts/jquery.mobile/css/jquery.mobile-1.4.5.min.css' />
   -->
         <link rel="stylesheet" type="text/css" href="${contextPath}/scripts/ztree/css/zTreeStyle/zTreeStyle.css">
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/definedPanel/definedPanel.extend.css"> 
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/webchat/ext/webchat.css">
        
        <link href="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
        <link rel='stylesheet' type='text/css' href='${contextPath}/scripts/jquery-weui-master/src/lib/weui.css' />
        <!--loginmessagevalid-->
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/loginmessagevalid/css/loginmessagevalid.css">
        <!-- fullpage -->
        <link href="${contextPath}/scripts/plugins/bootstrap/fullpage/css/jquery.fullPage.css" rel="stylesheet" type="text/css">
        <!-- rangecalendar -->
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/rangecalendar/css/rangecalendar.css">
        <link rel="stylesheet" href="${contextPath}/scripts/plugins/bootstrap/rangecalendar/css/rangecalendar.extend.css">
        	 
        <script type="text/javascript">
        	var contextPath = '${contextPath}';
        	function initContainer(){};
        	function disableSortable(){};
            function enableSortable(){};
        </script>
        <style type="text/css"> @media only screen  and (max-width : 1366px) {body {width: 1366px;}}</style>
</head>
<body>
        ${content}
</body>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- 开始数值增量输入框 -->
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
        <!-- 结束数值增量输入框 -->
        <!-- 开始颜色选择器 -->
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
        <!-- 结束颜色选择器 -->
        <!--
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/nouislider/wNumb.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/nouislider/nouislider.min.js" type="text/javascript"></script>-->
         <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
        <!--开始下拉选择框>-->
         <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!--结束下拉选择框>-->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <!--<script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>-->
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
        <!-- angular 1.4.3 -->
        <!-- 表单验证 -->
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <!-- jstree 
        <script src="${contextPath}/scripts/jstree/dist/jstree.min.js"></script>
        <script src="${contextPath}/scripts/jstree/ext/jstree.ext.js"></script>-->
        <script src="${contextPath}/scripts/designer/init/touchspin_init.js"></script>
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <!-- select2 -->
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <!--<script src="${contextPath}/scripts/plugins/bootstrap/select/jquery.metroselect.extends.js"></script> -->
        <!--<script src="${contextPath}/scripts/plugins/bootstrap/select/jquery.metroselect_m.extends.js"></script> -->
        <!-- iCheck -->
        <script src="${contextPath}/scripts/metronic/4.5.2/theme/assets/global/plugins/icheck/icheck.min.js" type="text/javascript"></script>
        <script src="${contextPath}/scripts/treeJson.js" type="text/javascript"></script>
        <!-- touchspin -->
        <script src="${contextPath}/scripts/plugins/bootstrap/touchspin/ext/jquery.touchspin.js"></script>
        <!-- tagsinput -->
        <script src="${contextPath}/scripts/plugins/bootstrap/tagsinput/bootstrap-tagsinput.js"></script>
        <!-- datepicker -->
        <script src="${contextPath}/scripts/plugins/bootstrap/datepicker/js/bootstrap-datepicker.min.js"></script>
        <!-- datetimepicker -->
        <script src="${contextPath}/scripts/plugins/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <!-- calendar -->
        <script src="${contextPath}/scripts/plugins/bootstrap/calendar/js/moment.min.js"></script>
        <script src="${contextPath}/scripts/plugins/bootstrap/calendar/js/fullcalendar.min.js"></script>
        <script src="${contextPath}/scripts/plugins/bootstrap/calendar/ext/lang-zh-cn.js"></script>
        <script src="${contextPath}/scripts/plugins/bootstrap/calendar/js/jquery-ui.min.js"></script>
        <!-- megamenu -->
        <!--<script src="${contextPath}/scripts/plugins/bootstrap/menu/js/bootstrap-menu.js"></script>--> 
        <script src="${contextPath}/scripts/designer/init/megamenu_init.js"></script>
        <!-- tabs -->
        <script type="text/javascript" src="${contextPath}/scripts/plugins/bootstrap/tabs/js/jquery.tabs.extends.js" ></script>
        <!-- altTemplate -->
        <script src="${contextPath}/scripts/artTemplate/dist/template.js"></script>
        <script src="${contextPath}/scripts/artTemplate/dataUtils.js"></script>
        <!-- gantt -->
        <script src="${contextPath}/scripts/plugins/bootstrap/gantt/js/iframeGantt.js"></script>
        <!-- restore -->
        <script src="${contextPath}/scripts/designer/metro_restore.js"></script>
        <!-- 分页 -->
        <script type="text/javascript" src="${contextPath}/scripts/plugins/bootstrap/pagination/js/jquery.pagination.extends.js"></script>
        
        <script src="${contextPath}/scripts/plugins/bootstrap/fullpage/js/jquery.fullPage.js" type="text/javascript"></script>  
        <script src="${contextPath}/scripts/plugins/bootstrap/fullpage/js/juqery.fullpage.js" type="text/javascript"></script>
        
        <script src="${contextPath}/scripts/plugins/bootstrap/select/jquery.metroselect_m.extends.js"></script>
        <script src="${contextPath}/scripts/plugins/bootstrap/select/jquery.metroselect.extends.js"></script>
        <script src="${contextPath}/scripts/designer/less/less.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="${contextPath}/scripts/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" src="${contextPath}/scripts/ueditor/ueditor.all.min.js"> </script>
        <script type="text/javascript" src="${contextPath}/scripts/plugins/bootstrap/editor/js/editor.js"> </script>
        <script type="text/javascript" src="${contextPath}/scripts/jquery-weui-master/src/lib/jquery-weui.js"> </script>
        <script type='text/javascript' src='${contextPath}/scripts/jquery.mobile/js/jquery.mobile-1.4.5.min.js'></script>
       <!-- 请把link 样式文件放到head中 -->
</html>