<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.workflow.core.mapper.PageUserTaskMapper">

	<resultMap id="pageUserTaskResultMap" type="com.glaf.workflow.core.domain.PageUserTask">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="task" column="TASK_" jdbcType="VARCHAR" />
		<result property="action" column="ACTION_" jdbcType="VARCHAR" />
		<result property="taskType" column="TASKTYPE_" jdbcType="VARCHAR" />
		<result property="taskNo" column="TASKNO_" jdbcType="VARCHAR" />
		<result property="activityCode" column="ACTIVITYCODE_"
			jdbcType="VARCHAR" />
		<result property="activityName" column="ACTIVITYNAME_"
			jdbcType="VARCHAR" />
		<result property="prevOperator" column="PREVOPERATOR_"
			jdbcType="VARCHAR" />
		<result property="nextOperator" column="NEXTOPERATOR_"
			jdbcType="VARCHAR" />
		<result property="sender" column="SENDER_" jdbcType="VARCHAR" />
		<result property="processPromoter" column="PROCESSPROMOTER_"
			jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="href" column="HREF_" jdbcType="VARCHAR" />
		<result property="owner" column="OWNER_" jdbcType="VARCHAR" />
		<result property="priority" column="PRIORITY_" jdbcType="VARCHAR" />
		<result property="processCode" column="PROCESSCODE_" jdbcType="VARCHAR" />
		<result property="processName" column="PROCESSNAME_" jdbcType="VARCHAR" />
		<result property="expired" column="EXPIRED_" jdbcType="TIMESTAMP" />
		<result property="isSendMsg" column="ISSENDMSG_" jdbcType="VARCHAR" />
		<result property="sendMsgType" column="SENDMSGTYPE_" jdbcType="VARCHAR" />
		<result property="msgContent" column="MSGCONTENT_" jdbcType="CLOB" />
		<result property="isSync" column="ISSYNC_" jdbcType="INTEGER" />
		<result property="syncDate" column="SYNCDATE_" jdbcType="TIMESTAMP" />
		<result property="syncIsSuccess" column="SYNC_IS_SUCCESS" jdbcType="INTEGER" />
		<result property="prevTaskEndTime" column="PREV_TASK_END_TIME" jdbcType="TIMESTAMP" />
		<result property="taskStartTime" column="TASK_START_TIME" jdbcType="TIMESTAMP" />
		<result property="taskEndTime" column="TASK_END_TIME" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertPageUserTask" parameterType="com.glaf.workflow.core.domain.PageUserTask">
		insert into PAGE_USER_TASK
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="task != null">
				,TASK_
			</if>
			<if test="action != null">
				,ACTION_
			</if>
			<if test="taskType != null">
				,TASKTYPE_
			</if>
			<if test="taskNo != null">
				,TASKNO_
			</if>
			<if test="activityCode != null">
				,ACTIVITYCODE_
			</if>
			<if test="activityName != null">
				,ACTIVITYNAME_
			</if>
			<if test="prevOperator != null">
				,PREVOPERATOR_
			</if>
			<if test="nextOperator != null">
				,NEXTOPERATOR_
			</if>
			<if test="sender != null">
				,SENDER_
			</if>
			<if test="processPromoter != null">
				,PROCESSPROMOTER_
			</if>
			<if test="title != null">
				,TITLE_
			</if>
			<if test="href != null">
				,HREF_
			</if>
			<if test="owner != null">
				,OWNER_
			</if>
			<if test="priority != null">
				,PRIORITY_
			</if>
			<if test="processCode != null">
				,PROCESSCODE_
			</if>
			<if test="processName != null">
				,PROCESSNAME_
			</if>
			<if test="expired != null">
				,EXPIRED_
			</if>
			<if test="isSendMsg != null">
				,ISSENDMSG_
			</if>
			<if test="sendMsgType != null">
				,SENDMSGTYPE_
			</if>
			<if test="msgContent != null">
				,MSGCONTENT_
			</if>
			<if test="isSync != null">
				,ISSYNC_
			</if>
			<if test="syncDate != null">
				,SYNCDATE_
			</if>
			<if test="syncIsSuccess != null">
				,SYNC_IS_SUCCESS
			</if>
			<if test="prevTaskEndTime != null">
				,PREV_TASK_END_TIME
			</if>
			<if test="taskStartTime != null">
				,TASK_START_TIME
			</if>
			<if test="taskEndTime != null">
				,TASK_END_TIME
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="task != null">
				,#{task, jdbcType=VARCHAR}
			</if>
			<if test="action != null">
				,#{action, jdbcType=VARCHAR}
			</if>
			<if test="taskType != null">
				,#{taskType, jdbcType=VARCHAR}
			</if>
			<if test="taskNo != null">
				,#{taskNo, jdbcType=VARCHAR}
			</if>
			<if test="activityCode != null">
				,#{activityCode, jdbcType=VARCHAR}
			</if>
			<if test="activityName != null">
				,#{activityName, jdbcType=VARCHAR}
			</if>
			<if test="prevOperator != null">
				,#{prevOperator, jdbcType=VARCHAR}
			</if>
			<if test="nextOperator != null">
				,#{nextOperator, jdbcType=VARCHAR}
			</if>
			<if test="sender != null">
				,#{sender, jdbcType=VARCHAR}
			</if>
			<if test="processPromoter != null">
				,#{processPromoter, jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="href != null">
				,#{href, jdbcType=VARCHAR}
			</if>
			<if test="owner != null">
				,#{owner, jdbcType=VARCHAR}
			</if>
			<if test="priority != null">
				,#{priority, jdbcType=TIMESTAMP}
			</if>
			<if test="processCode != null">
				,#{processCode, jdbcType=VARCHAR}
			</if>
			<if test="processName != null">
				,#{processName, jdbcType=VARCHAR}
			</if>
			<if test="expired != null">
				,#{expired, jdbcType=TIMESTAMP}
			</if>
			<if test="isSendMsg != null">
				,#{isSendMsg, jdbcType=VARCHAR}
			</if>
			<if test="sendMsgType != null">
				,#{sendMsgType, jdbcType=VARCHAR}
			</if>
			<if test="msgContent != null">
				,#{msgContent, jdbcType=CLOB}
			</if>
			<if test="isSync != null">
				,#{isSync, jdbcType=INTEGER}
			</if>
			<if test="syncDate != null">
				,#{syncDate, jdbcType=TIMESTAMP}
			</if>
			<if test="syncIsSuccess != null">
				,#{syncIsSuccess, jdbcType=INTEGER}
			</if>
			<if test="prevTaskEndTime != null">
				,#{prevTaskEndTime, jdbcType=TIMESTAMP}
			</if>
			<if test="taskStartTime != null">
				,#{taskStartTime, jdbcType=TIMESTAMP}
			</if>
			<if test="taskEndTime != null">
				,#{taskEndTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<update id="updatePageUserTask" parameterType="com.glaf.workflow.core.domain.PageUserTask">
		update PAGE_USER_TASK
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="task != null">
				TASK_=#{task, jdbcType=VARCHAR},
			</if>
			<if test="action != null">
				ACTION_=#{action, jdbcType=VARCHAR},
			</if>
			<if test="taskType != null">
				TASKTYPE_=#{taskType, jdbcType=VARCHAR},
			</if>
			<if test="taskNo != null">
				TASKNO_=#{taskNo, jdbcType=VARCHAR},
			</if>
			<if test="activityCode != null">
				ACTIVITYCODE_=#{activityCode, jdbcType=VARCHAR},
			</if>
			<if test="activityName != null">
				ACTIVITYNAME_=#{activityName, jdbcType=VARCHAR},
			</if>
			<if test="prevOperator != null">
				PREVOPERATOR_=#{prevOperator, jdbcType=VARCHAR},
			</if>
			<if test="nextOperator != null">
				NEXTOPERATOR_=#{nextOperator, jdbcType=VARCHAR},
			</if>
			<if test="sender != null">
				SENDER_=#{sender, jdbcType=VARCHAR},
			</if>
			<if test="processPromoter != null">
				PROCESSPROMOTER_=#{processPromoter, jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				TITLE_=#{title, jdbcType=VARCHAR},
			</if>
			<if test="href != null">
				HREF_=#{href, jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				OWNER_=#{owner, jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				PRIORITY_=#{priority, jdbcType=TIMESTAMP},
			</if>
			<if test="processCode != null">
				PROCESSCODE_=#{processCode, jdbcType=VARCHAR},
			</if>
			<if test="processName != null">
				PROCESSNAME_=#{processName, jdbcType=VARCHAR},
			</if>
			<if test="expired != null">
				EXPIRED_=#{expired, jdbcType=TIMESTAMP},
			</if>
			<if test="isSendMsg != null">
				ISSENDMSG_=#{isSendMsg, jdbcType=VARCHAR},
			</if>
			<if test="sendMsgType != null">
				SENDMSGTYPE_=#{sendMsgType, jdbcType=VARCHAR},
			</if>
			<if test="msgContent != null">
				MSGCONTENT_=#{msgContent, jdbcType=CLOB},
			</if>
			<if test="isSync != null">
				ISSYNC_=#{isSync, jdbcType=INTEGER},
			</if>
			<if test="syncDate != null">
				SYNCDATE_=#{syncDate, jdbcType=TIMESTAMP},
			</if>
			<if test="syncIsSuccess != null">
				SYNC_IS_SUCCESS=#{syncIsSuccess, jdbcType=INTEGER},
			</if>
			<if test="prevTaskEndTime != null">
				PREV_TASK_END_TIME=#{prevTaskEndTime, jdbcType=TIMESTAMP},
			</if>
			<if test="taskStartTime != null">
				TASK_START_TIME=#{taskStartTime, jdbcType=TIMESTAMP},
			</if>
			<if test="taskEndTime != null">
				TASK_END_TIME=#{taskEndTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>

	<delete id="deletePageUserTaskById" parameterType="string">
		delete from
		PAGE_USER_TASK
		where ID_ = #{id}
	</delete>


	<delete id="deletePageUserTasks" parameterType="com.glaf.workflow.core.query.PageUserTaskQuery">
		delete from PAGE_USER_TASK
		where (
		ID_ IN
		<foreach item="x_ID" index="index" collection="rowIds" open="("
			separator="," close=")">
			#{x_ID}
		</foreach>
		)
	</delete>

	<select id="getPageUserTaskById" parameterType="string"
		resultMap="pageUserTaskResultMap">
		select * from PAGE_USER_TASK where ID_ = #{id}
	</select>


	<select id="getPageUserTasks" parameterType="com.glaf.workflow.core.query.PageUserTaskQuery"
		resultMap="pageUserTaskResultMap">
		select E.*
		<include refid="selectPageUserTasksSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>

	<select id="getPageUserTaskCount" parameterType="com.glaf.workflow.core.query.PageUserTaskQuery"
		resultType="int">
		select count(*)
		<include refid="selectPageUserTasksSql" />
	</select>


	<sql id="selectPageUserTasksSql">

		from PAGE_USER_TASK E

		<where>
			1 = 1
			<if test="task != null and task != '' ">
				AND TASK_=#{task}
			</if>
			<if test="action != null and action != '' ">
				AND ACTION_=#{action}
			</if>
			<if test="taskType != null and taskType != '' ">
				AND TASKTYPE=#{taskType}
			</if>
			<if test="taskNo != null and taskNo != '' ">
				AND TASKNO_=#{taskNo}
			</if>
			<if test="activityCode != null and activityCode != '' ">
				AND ACTIVITYCODE_=#{activityCode}
			</if>
			<if test="activityName != null and activityName != '' ">
				AND ACTIVITYNAME_=#{activityName}
			</if>
			<if test="prevOperator != null and prevOperator != '' ">
				AND PREVOPERATOR_=#{prevOperator}
			</if>
			<if test="nextOperator != null and nextOperator != '' ">
				AND NEXTOPERATOR_=#{nextOperator}
			</if>
			<if test="sender != null and sender != '' ">
				AND SENDER_=#{sender}
			</if>
			<if test="processPromoter != null and processPromoter != '' ">
				AND PROCESSPROMOTER_=#{processPromoter}
			</if>
			<if test="title != null and title != '' ">
				AND TITLE_=#{title}
			</if>
			<if test="href != null and href != '' ">
				AND HREF_=#{href}
			</if>
			<!-- <if test="owner != null and owner != '' ">
				AND OWNER_=#{owner}
			</if> -->
			<if test="priority != null and priority != '' ">
				AND PRIORITY_=#{priority}
			</if>
			<if test="processCode != null and processCode != '' ">
				AND PROCESSCODE_=#{processCode}
			</if>
			<if test="processName != null and processName != '' ">
				AND PROCESSNAME_=#{processName}
			</if>
			<if test="expired != null">
				AND EXPIRED_=#{expired}
			</if>
			<if test="isSendMsg != null and isSendMsg != '' ">
				AND ISSENDMSG_=#{isSendMsg}
			</if>
			<if test="sendMsgType != null and sendMsgType != '' ">
				AND SENDMSGTYPE_=#{sendMsgType}
			</if>
			<if test="msgContent != null and msgContent != '' ">
				AND MSGCONTENT_=#{msgContent}
			</if>
			<if test="isSync != null">
				AND ISSYNC_=#{isSync}
			</if>
			<if test="syncDate != null">
				AND SYNCDATE=#{syncDate}
			</if>
			<if test="syncIsSuccess != null">
				AND SYNC_IS_SUCCESS=#{syncIsSuccess}
			</if>
			<if test="prevTaskEndTime != null">
				AND PREV_TASK_END_TIME=#{prevTaskEndTime}
			</if>
			<if test="taskStartTime != null">
				AND TASK_START_TIME=#{taskStartTime}
			</if>
			<if test="taskEndTime != null">
				AND TASK_END_TIME=#{taskEndTime}
			</if>

			<if test="dataRequest != null and dataRequest.filter != null ">
				<include refid="com.glaf.global.GlobalMapper.dataRequestFilterCondition" />
			</if>

		</where>
	</sql>

</mapper>