		 <li id="login_register_6145" tmpid="6145" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="登录页面注册区">
		   <div class="mymedia-body"><h4 class="mymedia-heading">登录页面注册区</h4></div>
		 </li>
		 <li id="login_register_7739" tmpid="7739" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="登录页面3、4注册区">
		   <div class="mymedia-body"><h4 class="mymedia-heading">登录页面3、4注册区</h4></div>
		 </li>
