@CHARSET "UTF-8";
#wrap{}

/*盒模板*/
.mybox{}
.mybox .hd{line-height:30px;}
.mybox .hd h3,
.mybox .hd span{font-weight:bold;font-size:14px;color:#333;}
.mybox .hd .more{float:right;_display:inline;margin-right:5px;color:#666;}
.mybox .bd{padding:9px;}

/*
 * Component: Box
 * --------------
 */
.inline_block{
  display: inline-block;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.box-default {
  border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding:10px;
  display: flex;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
.chart-legend {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table;
}
.box-comments .box-comment:after {
  clear: both;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}

.float-right {
  float: right;
}
.main-header .reponsive-block {
	list-style: none;
	margin: -35px 25px 0 0;
	padding: -20px 2% 0 0;
}

.main-header .reponsive-block li {
	display: inline-block;
	float:left;
}

.main-header .reponsive-block a {
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
	background: url(images/reponsive.png) no-repeat;
}

.main-header .reponsive-block a.desktop {
	background-position: 3px 0;
	width: 34px; height: 26px;
}

.main-header .reponsive-block a.tablet-landscape {
	background-position: -49px 0;
	width: 22px;
	height: 22px;
}

.main-header .reponsive-block a.tablet-portrait {
	background-position: -90px 0;
	width: 18px;
	height: 24px;
}

.main-header .reponsive-block a.iphone-landscape {
	background-position: -129px 0;
	width: 20px;
	height: 20px;
}

.main-header .reponsive-block a.iphone-portrait {
	background-position: -166px 0;
	width: 16px;
	height: 26px;
}

.main-header .reponsive-block a.desktop:hover,
.main-header .reponsive-block a.desktop.active {
	background-position: 3px -34px;
}

.main-header .reponsive-block a.tablet-landscape:hover,
.main-header .reponsive-block a.tablet-landscape.active {
	background-position: -49px -34px;
}

.main-header .reponsive-block a.tablet-portrait:hover,
.main-header .reponsive-block a.tablet-portrait.active {
	background-position: -91px -33px;
}

.main-header .reponsive-block a.iphone-landscape:hover,
.main-header .reponsive-block a.iphone-landscape.active {
	background-position: -128px -33px;
}

.main-header .reponsive-block a.iphone-portrait:hover,
.main-header .reponsive-block a.iphone-portrait.active {
	background-position: -166px -33px;
}

.edit .designer {
  margin-left: 0px;
  margin-top: 0px;
  padding: 30px 10px 10px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
  word-wrap: break-word;
  background-color: #FFFFFF;
}
.edit .designer:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "设计区";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.treeview .box { line-height:26px; width:160px; height:26px; }
.treeview .preview { display: block; color:#666; font-size:12px; line-height:26px;}
.treeview .preview input { width:105px; padding:0 10px; background:#bbb; font-size:10px; color:#999; line-height:60px; height:60px; position:relative; top:-1px; }
.treeview .view { display: none; }
.treeview .remove,
.treeview .configuration { display: none; }

.treeview .boxes { display:none;}

.designer .preview { display: none; }

.designer .lyrow .mybox .view { display: block; padding-top:30px;}

.designer .lyrow .view { display: block; padding-top:0px;}

.designer .lyrow .mybox .view .containerComp .lyrow .view { display: block; padding-top:0px;}

.designer .lyrow .mybox .view .containerComp .mybox .view { display: block; padding-top:30px;}

.ui-draggable-dragging .view { display:block;}
/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder { outline: 1px dashed #ddd;visibility: visible!Important; border-radius: 4px;}
.drag { position: absolute; top: 0;right: 0; cursor: move;}
.drag i {color:#000; text-shadow:0 1px 0 #ddd;}
.templatebox { line-height:26px; width:160px; height:26px; }
.templatebox .preview { display: block; color:#666; font-size:12px; line-height:26px;}
.templatebox .preview input { width:105px; padding:0 10px; background:#bbb; font-size:10px; color:#999; line-height:20px; height:20px; position:relative; top:-1px; }
.templatebox .remove,
.templatebox .configuration { display: none; }
.templatebox .toolbar { display: none; }

.mybox,.lyrow { position:relative;}

.edit .designer .lyrow .drag { top:0px; right:0px; z-index:10;padding-top: 4px;padding-left: 8px; }
.edit .designer .lyrow .toolbar { position: absolute;top:0spx; right:0px; z-index:9999;padding-top: 4px;padding-left: 8px; }
.edit .designer .column .mybox .drag { top:0px; }
.edit .designer .column .mybox .configuration {position: absolute; top: 5px; right: 90px;white-space:nowrap; }
.edit .designer .lyrow .column .configuration {position: absolute; top: 0px; right:30px;white-space:nowrap; }
.edit .designer .column .mybox .configuration:hover { z-index:1001;}

.edit .designer .column .mybox .toolbar {position: absolute; top: 0px; right: 0px;white-space:nowrap; }
.edit .designer .column .toolbar {position: absolute; top: 0px; right:0px;white-space:nowrap; }
.edit .designer .column .mybox .toolbar:hover { z-index:1001;}
.edit .designer .lyrow .toolbar:hover { z-index:9999;}

.edit .designer .column .navbar-fixed-top {top: 33px; left: 180px;}
.designer .column .navbar-fixed-top {top: 33px;}
.edit .designer .column .navbar-fixed-bottom { left: 180px;}
.edit .designer .remove { position: absolute; top: 5px; right: 40px; z-index:10; }
.edit .designer .column .removecol { position: absolute; top: 0px; right: 0px; z-index:10; }
.edit .designer .myformgroup .formgrouptoolbar { position: absolute; top: 0px; right: 0px; z-index:99999; }
.edit .designer .configuration { position: absolute; top: 5px; right: 120px; z-index:10; }
.designer .configuration{
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.designer .drag,.designer .toolbar, .designer .remove ,.designer .column .removecol ,.formgrouptoolbar{
	filter: alpha(opacity=20); opacity: 0.2;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.designer .lyrow:hover > .drag, 
.designer .lyrow:hover > .toolbar, 
.designer .lyrow:hover > .configuration, 
.designer .lyrow:hover > .remove,
.designer .column:hover > .configuration, 
.designer .column:hover > .removecol, 
.designer .form-group:hover > .formgrouptoolbar, 
.designer .mybox:hover .drag, 
.designer .lyrow:hover .drag, 
.designer .mybox:hover .toolbar, 
.designer .lyrow:hover .toolbar, 
.designer .mybox:hover .configuration, 
.designer .mybox:hover .remove { filter: alpha(opacity=100); opacity: 1; }
.edit .designer .row{
margin: 10px 0 !important;
position: relative !important;
left: 0 !important;
top: 0 !important;
right: 0 !important;
bottom: 0 !important;
padding: 30px 10px 30px !important;
border: #000000 1px dashed;
background-color: #F2FEFF;
min-height:141px !important;
height:auto !important;
}
.devpreview .designer .row{
position: relative;
}
.designer .row:hover{
border: #000000 1px dashed;
background-color: #F2FEFF;
}
.devpreview  .designer .row{
border: none;
min-height:0;
}
.edit .designer .column{
background-color: #FFFFFF;
padding: 25px 10px 25px !important;
position: relative !important;
left: 0 !important;
top: 0 !important;
right: 0 !important;
bottom: 0 !important;
border: #3298fe 1px dashed;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-right:-1px; margin-bottom:-1px;
min-height:80px !important;
height:auto !important;
}
.devpreview  .designer .column{
min-height:0;
}
.designer .row .column:hover{
  border: #3298fe 1px dashed;
}
.designer .row .column .mybox:hover{
  border: #3298fe 1px dashed;
}
.devpreview .designer .row .column:hover{
  border: none;
}
.devpreview .designer .row .column .mybox:hover{
  border: none;
}
/*
.edit .designer .row:before {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "行";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	line-height:2;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}
.designer .row {
  background-color: #F5F5F5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 10px 0;
  position: relative;
  padding: 30px 10px 0;
}
.column {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 10px 0;
  padding: 25px 10px 10px;
  position: relative;
}
.edit .column:after {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "列";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}*/
body.devpreview { margin-left:0px;}
.devpreview .sidebar-nav { 
	left:-200px;
	-webkit-transition: all 0ms ease;
	-moz-transition: all 0ms ease;
	-ms-transition: all 0ms ease;
	-o-transition: all 0ms ease;
	transition: all 0ms ease;
}
.devpreview .drag, .devpreview .configuration, .devpreview .remove,.devpreview .removecol,.devpreview .formgrouptoolbar { display:none !Important; }
.preview .column, .preview .row, .preview .designer .mybox {
	margin:0px 0;
	padding:0px;
	background:none;
	border:none;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}
.devpreview .designer .mybox, .devpreview .designer .row { padding-top:0; background:none; }
.devpreview .designer .column {padding-left:10px;}

/*
*模态窗口样式
*/
 .my-modal .modal {
        position: absolute;
        top: 40px;
        bottom: auto;
        right: 5px;
        left: auto;
        display: block;
        z-index:9999;
      }
 .hidemy-modal .modal {
        display: none;
      }
 .my-modal .modal {
   background: transparent !important;
 }
/*
*适用UI范围列表样式
*/
.ui-list{
  position: absolute;
  height:20px;	
  top: 10px;
  bottom: auto;
  right: 35px;
  left: auto;
  float:right;
  z-index: 100;
}
.ui-list li{
	display:inline-block;
	padding-left:10px;
	margin:0 2px 0 2px;
	color:red;
	font-weight:100;
	font-size:13px;
}
.ui-list li:before{
	margin-right:2px;
	color:rgb(60, 141, 188);
	font-size:13px;
}

.myalert{
	 width:300px;
	 position: fixed;
     top: 40px;
     bottom: auto;
     right: 5px;
     left: auto;
     display: block;
     z-index:99999999999;
}
.holderCss{
	 border:1px dashed #88b7ff; background:#effaff;
	 height:100px;
	 text-align:center;
	 padding-top:10px;
}
.elemdesc{
	 border:1px dashed #88b7ff; background:#258fd7;
	 height:60px;
	 width:100px;
	 position: absolute;
	 top: 5px;
	 right:120px;
}
.elemtag{
	 border:1px dashed #88b7ff; background:#258fd7;
	 height:60px;
	 width:100px;
	 text-align:center;
	 padding-top:10px;
}

.dragBtn {
	width:35px;
	height:28px;
    border-radius: 0 0 0 28px !important;
    -webkit-border-radius: 0 0 0 28px !important;
}
.dragBtn i{
	font-size:20px; 
	color:#fff;
}

.dragBtn-sm {
	
	width:25px;
	height:18px;
    border-radius: 0 0 0 18px !important;
    -webkit-border-radius: 0 0 0 18px !important;
}
.dragBtn-sm i{
	font-size:13px; 
	color:#fff;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .mymedia-object {
  width: 120px;
  opacity: .8;
  filter: alpha(opacity=80);
  float: left;
}
.mymedia{
	padding:10px;
}
.mymedia-body{
	margin-top:5px;
}
.mymedia-heading{
	margin-top:5px;
	font-size:14px;
	line-height: 30px;
	display:block; text-align:center;
}
.mt-element-list .mt-list-container .list-toggle .arrow:before {
  float: right;
  width: 20px;
  text-align: center;
  margin-top: -1px;
  margin-right: 0;
  margin-left: 0;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f107";
  font-weight: 300;
  text-shadow: none;
}
.mt-element-list .mt-list-container .collapsed .list-toggle .arrow:before {
  float: right;
  width: 20px;
  text-align: center;
  margin-top: -1px;
  margin-right: 0;
  margin-left: 0;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f104";
  font-weight: 300;
  text-shadow: none;
}
.mt-element-list .mt-list-container .list-toggle{
    border-bottom: 1px solid #fff;
}  
.mt-element-list .mt-list-container .list-items li{
	font-size: 12px;
}
.mt-element-list .row .column{
	padding-left:5px;
	padding-right:5px;
}
.spaceTouchSpin{
	padding-left:2px;
	padding-right:2px;
	font-size: 12px;
}
.sizeTouchSpin{
	padding-left:2px;
	padding-right:2px;
	font-size: 12px;
}
.bootstrap-touchspin .input-group-addon{
	font-size:12px;
	padding:6px 2px;
}
.sigcol .leftAddBt,.sigcol .rightAddBt{
	display:none !Important;
}

@-webkit-keyframes  shineRed {  
from { -webkit-box-shadow: 0 0 5px #bbb; }  
50% { -webkit-box-shadow: 0 0 10px red; }  
to { -webkit-box-shadow: 0 0 5px #bbb; }  
}  
@-webkit-keyframes shineBlue {  
        from { -webkit-box-shadow: 0 0 9px #333; }  
        50% { -webkit-box-shadow: 0 0 18px blue; }  
        to { -webkit-box-shadow: 0 0 9px #333; }  
}  
.shine_red{  
-webkit-animation-name: shineRed;   
-webkit-animation-duration: 1s;  
-webkit-animation-iteration-count: infinite;   
} 
.devpreview .designer .shine_red{
-webkit-animation-name: none;   
}
.page-sidebar-closed>.page-container>.page-sidebar-wrapper>.page-sidebar>.tabbable-designer>.nav-tabs{
	display:none;
}
.tabbable-designer>.nav-tabs>li{
  width:33%;
  position: relative;
  display: block;
  text-align: center;
  height: auto;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  color: #90a1af;
  border: 0;
  border-bottom: 3px solid rgba(243,86,93,.3);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: 0!important;
}
.tabbable-designer>.nav-tabs>li.active {
  border-bottom: 3px solid #ed6b75;
  margin-top: 0;
  position: relative;
}
.tabbable-designer>.nav-tabs>li>a{
	color:#6e9cc5;
}
.tabbable-designer>.nav-tabs>li.active>a{
	color:#ffffff;
}
/**模板菜单样式**/
.template-sidebar-menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-menu.templateli li>a{
  min-height: 78px !important;
  display: block !important;
  position: relative !important;
  margin: 0 !important;
  border: 0 !important;
  border-top: 1px solid #7697B8 !important;
  padding: 17px 15px 15px !important;
  text-decoration: none !important;
  font-size: 13px !important;
  font-weight: 300 !important;
  text-align: center !important;
}
.sub-menu.templateli li>a>i{
  font-size: 24px !important;text-shadow: none !important;font-weight: 300 !important;text-align: center !important;
}
.templatetitle{
   font-size: 16px !important;display: block;text-align: center; margin-top:10px;
}
.templatearrow{
	display: none;
}
.designer .myform{
	border:1px dotted red;
    padding:3px 3px;	
}
.designer .myformgroup{
	min-height:30px;
	border:1px dotted red;
    padding:3px 3px;
    position:relative;	
}
.devpreview .designer  .myform{
	border:none;
}
 .devpreview .designer .myformgroup{
    border:none;
}
.tabbable-tabdrop{
  background-color:#fff;
  position:absolute;
  left:330px;
  top:5px;	
}
.tabbable-tabdrop .tab-content{
	margin-top:-20px;
}
 .tabbable-tabdrop ul>li>a
{
  height: 20px;
  font-size: 9px;
  padding: 5px 5px 5px 5px;
}
 .tabbable-tabdrop .tab-content .tab-pane>a:hover
{
  background-color:yellow;
  border:1px solid #E6E7E8;
}
.tabbable-tabdrop .tab-content .tab-pane>a img
{
  width:25px;
  height:25px;
  margin:3px 3px 3px 3px;
}
.formatComp{
	border:3px solid #E87E04 !important;
}
.contenteditable{
	user-modify: read-write-plaintext-only;
	-webkit-user-modify: read-write-plaintext-only;
}
.autoHt{
	height:100%;
}
.unitselect{
  height: 34px;
  margin-top: 2px;
}

.designer .row_sm::before{
  background-color: #d64635;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #fff;
  font-size: 10px;
  left: -1px;
  padding: 1px 2px;
  margin: -10px -9px;
  top: -20px;
  position: relative;
  content:"小尺寸"
}
.designer .row_xs::before{
  background-color: #d64635;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #fff;
  font-size: 10px;
  left: -1px;
  padding: 1px 2px;
  margin: -10px -9px;
  top: -20px;
  position: relative;
  content:"小尺寸"
}
/*设置控件列表样式*/
.page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(1n+1),.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(1n+1)
{ 
	width:77px;
	display: inline-block;
	background: #33526d;
	border-top: 1px solid #aca6a6;
  border-left: 1px solid #aca6a6;
  text-align: center;
}

.page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(3n),.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(3n)
{
  margin-left:2px;
	/*margin-left:26px;*/
}
.page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(3n+1)
{
	border-right: 1px solid #aca6a6;
}
.page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(1),.page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(2),.page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(3)
{
	border-bottom: 1px solid #aca6a6;
}
.page-sidebar-menu .sub-menu li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li {
    margin-top: 0!important;
}
.page-sidebar-menu .sub-menu:not(.templateli) li > a :last-child
{
    display:block;
}
.page-sidebar-menu .sub-menu:not(.templateli)  li>a:nth-last-of-type(1n+1),.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu:not(.templateli)  li>a:nth-last-of-type(1n+1){
	padding:6px 10px;
}

.mymenu .btn-toolbar .btn-group button{
	background:transparent;
	border:0;
	height: 45px;
	width:50px;
	padding:2px 0 2px 0;
}
.mymenu .btn-toolbar .btn-group button img{
	width:24px;
	margin-top: 2px;
}

.mymenu .btn-toolbar button{
	background:transparent;
	border:0;
	height: 45px;
	width:43px;
	padding:2px 0 2px 0;
}
.mymenu .btn-toolbar button:hover{
	background:#1f4567;
}
.mymenu .btn-toolbar button span{
	font-size:10px;
	color:white;
	display:block;
}
.split{
	float: left;
	width:1px;
	margin-top:1px;
	margin-left:3px;
	margin-right:3px;
}
.sub-menu li a img{
	width:32px;
}
.page-logo a span{
	font-size:30px;
	color:red;
}
.component  span.frame-variable{
	display:block;
	min-width:30px;
}
button.component span.frame-variable{
	display:inline-block;
	min-width:30px;
}
.btn-group button span.frame-variable{
	display:inline-block;
	min-width:30px;
}
button.component i{
	margin-right:3px;
}
.btn-group button i{
	margin-right:3px;
}
.portlet-title .caption span.frame-variable{
	display:inline-block;
	min-width:30px;
}
.portlet-title .caption i{
	
}
.copyright p{
	display:block;
	min-width:130px;
}
.nav.nav-tabs li a,.nav.nav-tabs li a span{
	display:inline-block;
	min-width:30px;
}
.box-header .user-block span{
	display:inline-block;
	min-width:30px;
}
/**自由布局设置样式*/
#freelayoutModal .modal-dialog .modal-content .modal-body table tbody tr td{
	height:30px;
}
#freelayoutModal .modal-dialog .modal-content .modal-body table tbody tr td div{
	background:#F2FEFF;
	border:1px dashed black; 
}
#freelayoutModal .modal-dialog .modal-content .modal-body table tbody tr td div:hover,#freelayoutModal .modal-dialog .modal-content .modal-body table tbody tr td div.active:hover{
	background:#d64635;
	border:1px solid black;
	cursor:pointer;
}
#freelayoutModal .modal-dialog .modal-content .modal-body table tbody tr td div.active{
	background:#2e2cb5;
	border:1px solid black;
	color:white;
}
/**
 * select特小样式
 */
.hmtd-xs select{
  height: 26px;
  padding-top:2px;
  padding-bottom:2px;
}
/**
 * touchSpin输入框特小样式
 */
.hmtd-xs .input-group.bootstrap-touchspin>.spininput{
  height: 26px;
}
.hmtd-xs .input-group.bootstrap-touchspin>.input-group-btn-vertical>.btn{
  height: 14px !important;
  /*padding:0px 0px;*/
}

/**
 * 公共样式设置面板
 */
.page-header-inner.main-header{
  height: 45px;  
}

.commonStylePanel{
  margin-left: 234px;
  color:white;
  width: 100%;
  height: 33px;
  overflow:hidden;
  background-color: black;
  /*position: relative;*/
  /*position: fixed;*/
  /*top: 51px;*/
  /*left: 102px;*/
  /*right: 112px;*/
  /*z-index: 9999;*/
  padding:0px 3px;
  /*padding-bottom: 5px;*/
  /*margin-top: -30px;
  margin-left: 41px;
  margin-right: 95px;*/
}
.page-sidebar-closed .commonStylePanel{
  margin-left: 45px;
}
.commonStylePanel .split{
  float: left;height: 30px;width:2px;
}
/*.openGobalStyle .page-header-fixed .page-container{
  margin-top:80px;
}*/
/*---公共样式设置面板 end*/

.hmtd-xs .minicolors {
  margin-top: -1px ;
}
.hmtd-xs .minicolors .minicolors-input{
  height: 26px;
}

.hmtd-xs .minicolors .minicolors-swatch{
  height: 22px ;
}
.selectedComp{
  border:3px solid #09ff3e !important;
}
.commonStylePanel .btn.active{
  background-color:#41afff !important;
  border-color: #91ccf7 !important;
}
.commonStylePanel .btn:hover{
  background-color:#91ccf7 !important;
}

.mymenu .btn.active{
  background-color: #9e0a25 !important;
}

/**
 * 右边栏的选中按钮颜色加深
 */
.page-quick-sidebar-wrapper .btn-default.active{
  color: #fff;
  background-color: #7b7373;
  font-size: bold;
}
/**
 * 右侧面板宽度调整
 */
.page-quick-sidebar-wrapper{
  width: 263px;  
}

/**
 * 自适应按钮颜色
 */
.mymenu .btn-toolbar .btn-group .btn.red-mint:not(.btn-outline){
  color: #fff;
  background-color: #e43a45;
  border-color: #e43a45;
}
.mymenu .btn-toolbar .btn-group .btn.green-jungle:not(.btn-outline){
  color: #FFF;
  background-color: #1e9765;
  border-color: #1e9765;
}

#ztree li a{
  color: white;
}
#ztree li a.curSelectedNode{
  background-color:inherit;
}
/*控件工具栏*/
.elem_toolbar{
  position: fixed;
  border:1px;
  height:35px;
  width:350px;
  display:none;
  z-index:9999;
}
.elem_toolbar .button{
  height:30px;
  font-size:16px;
}
/*控件工具栏*/
.elem_toolbar{
  position: fixed;
  border:1px;
  height:35px;
  width:320px;
  display:none;
  z-index:9999;
  background-color: #4276a4;
}
.elem_toolbar button{
  background-color: #4276a4 !important;
  color:white !important;
  border-color:#6c9bca !important;
  /*height:30px;*/
  /*font-size:16px;*/
}
.componentlist{
  position:static !important;
}
/*控件列表样式*/
.componentlist.componentlistfloat{
  width:250px;
  position:fixed !important;
  top:200px;
  z-index:9999;
}
/*.componentlistPanel .componentlist .scroller{
  background-color: #2f353b;
}
#componentlist_ztree{
  background-color: #cfcfcf; 
}
.componentlistPanel .componentlist.portlet .portlet-title{
  background-color: #d64635;
}
.componentlistPanel .componentlist.portlet table{
  background-color: #33526d;
}*/

.componentlistPanel .componentlist{
  position: static;
  width:auto !important;
}
.componentlistPanel .componentlist table{
  width: 317px !important;
}
.componentlistPanel .componentlist .cname{
  width: 260px;
}
.componentlist .eye{
  width:40px;
  border-width:1px 1px 1px 0;
  border-color:#fff;
  border-style:solid;
}
.componentlist .cname{
  width:200px;
  border:1px #fff solid;
  padding-left:10px;
  height: 50px;
  overflow: hidden;
}
.componentlist .cname i{
  margin-right:5px;
}
.componentlist .scroller .selected{
  background-color:#397FAE;
}
.componentlist .scroller button{
  /*background-color:#2f353b;*/
  background-color: #33526d;
  border:none;
}
.componentlist .scroller .selected button{
  background-color:#397FAE;
  border:none;
}
.componentlist .scroller .selected button:hover{
  background-color:#67809F;
  border:none;
}
#changeList{
  height: 26px;
  border: 1px solid #b3adad;
  background-color: #636465;
  margin-left: 10px;
  color: #dad6d6;
}
#changeList.active{
  background-color: #5653f5;
}

.componentlist .fa{
  font-family : FontAwesome !important;
}

.menulicontent{
  width: 100%;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  overflow: hidden;
}

.zTreeDragUL,.tmpzTreeMove_arrow{
  z-index: 999999;
}

.tabbable-designer .tab-content #tab_1_1_1 .sub-menu .nav-item{
  vertical-align: top;
}

.tabbable-designer .tab-content #tab_1_1_1 .sub-menu .nav-item a{
  font-size: 11px;
}

.tabbable-designer .tab-content #tab_1_1_1 .sub-menu .nav-item.searched{
  background-color: #0d8e70;
}

.mt-element-list .list-simple.group .list-toggle-container .list-toggle{
  padding: 7px 10px;
}
.mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item{
  padding:5px 3px;
}

.mymenu .btn-toolbar .btn-group button.selectedBt{
  background-color: #1e9765;
}


.page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(1n+1), .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(1n+1){
  height:63px;
}




.hmtd-xs .form-group.form-md-line-input{
  margin-top: 0px;
  padding-top: 0px; 
}

/**
 * 左侧菜单栏的控件栏的间距调整
 * @type {[type]}
 */
.page-sidebar-menu .sub-menu:not(.templateli)  li>a:nth-last-of-type(1n+1), 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu:not(.templateli)  li>a:nth-last-of-type(1n+1){
  padding:6px 1px;
}

/**
 * 左侧菜单栏的搜索框
 */
.page-sidebar .nav.nav-tabs{
  margin-bottom: 0px;
}
.page-sidebar .sidebar-search, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search{
  margin:0px 0px;
  padding: 10px 10px;
}

/**
 * 左侧控件栏中的菜单（用于设置为常用控件）
 */
.leftControlMenu{
    width:120px;
    left:50px;
    top:100px;
    padding: 0px 0px;
}
.leftControlMenu li{
    padding: 5px 3px;
    text-align: center;
    background-color: #f8f8f8;
    cursor: pointer;
}
.leftControlMenu li:hover{
    background-color: #98dcf8;
}
/**
 * 常用控件
 */
.favoriteBtn {
    /* float: right; */
    /* display: none; */
    position: relative;
    z-index: 99999;
    /* right: 81px; */
    color: white;
    margin-left: 58px;
    margin-top: 1px;
    height: 0px;
    display: block;
}
.favorite{
  color: #ffd800;
}
.nofavorite{
  color: white; 
}

/**
 * 控件主题的样式
 */
.compThemePanel{
  padding: 3px 3px;
}
.compTheme_item.selected{
  background-color: #eb3546;
}
.compTheme_item{
  display: inline-block;
  vertical-align: top;
  border: 1px solid white;
  padding: 2px 2px;
  text-align: center;
  margin-top: 4px;
}
.theme_thumbnail{
  height: 120px;
  width: 120px;
}


/**
 * touchSpin输入框特小样式
 */
/*.mt-element-list .input-group.bootstrap-touchspin>.spininput{
  height: 26px;
}
.mt-element-list .input-group.bootstrap-touchspin>.input-group-btn-vertical>.btn{
  height: 14px !important;
}*/

/*#componentlist_ztree{
  background: #2f353b;
}
#componentlist_ztree li a{
  color:white;
}*/


/**主题风格配置**/
/**蓝色**/
/*顶部菜单*/
.blue .page-header.navbar{
  background-color: #2D5F8B;
}
/*左边菜单样式*/
.blue .page-sidebar{
  background-color: #4276A4;
}
.blue .page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(1n+1), .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu:not(.templateli) > li:nth-last-of-type(1n+1){
  background-color: #33526d;
}
.blue .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a{
  background-color: #397fae;
}

/*右边菜单栏的背景颜色*/
.blue .page-quick-sidebar-wrapper .page-quick-sidebar{
  background-color: #33526d;
  color:white;
}
.blue .mt-element-list .list-simple.group .list-toggle-container .list-toggle{
  background-color:#4276a4;
}
.blue .mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item{
  background-color: #33526d;
}
.blue .mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item input{
  color:white;
}
.blue .mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item:hover{
  background-color: #397fae;
}
.blue .page-quick-sidebar-wrapper{
  background-color:#33526d;
}
/*start 右下角控件列表样式*/
.blue .componentlist .scroller{
  background-color: #2f353b;
}
.blue #componentlist_ztree{
  background-color: #33526d; 
}
.blue .componentlistPanel .componentlist.portlet .portlet-title{
  background-color: #d64635;
}
.blue .componentlist.portlet table{
  background-color: #33526d;
}
div.componentlist{
  margin-top: 0px;
}
/*控件列表的ztree的颜色*/
.blue #componentlist_ztree li a{
  color: white;  
}
/*end 右下角控件列表样式*/

.unitselect{
  color:black;
}
.blue .mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item input.spaceTouchSpin{
  color:black;
}

.blue .mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item .minicolors  input{
  color:black;
}
.blue .sidebar-search input{
  color:white !important;
}
/*左侧栏中的标签栏*/
.blue .page-sidebar .page-sidebar-menu>li.open>a,
.blue .page-sidebar .page-sidebar-menu>li:hover>a,
.blue .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a,
.blue .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{
  color:white;
}
/*左侧栏中的标签栏*/
.blue .page-sidebar .page-sidebar-menu>li>a,
.blue .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
  color:white;
}
/*左侧栏中的图标*/
.blue .page-sidebar .page-sidebar-menu>li>a>i[class*=icon-], 
.blue .page-sidebar .page-sidebar-menu>li>a>i[class^=icon-], 
.blue .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-], 
.blue .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-]{
  color:white;
}
/*左侧栏中的控件栏的名称*/
.page-sidebar .page-sidebar-menu .sub-menu>li>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a{
  color:white;
}
/*左侧栏中的'查询按钮'*/
.blue .page-sidebar .sidebar-search .input-group .input-group-btn .btn>i{
  color:white;
}
/*左侧栏中的'h3'*/
.blue .page-sidebar .page-sidebar-menu>li.heading>h3, 
.blue .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3{
  color:white;
}
/*左侧栏中的'<'*/
.blue .page-sidebar .page-sidebar-menu li>a>.arrow.open:before, 
.blue .page-sidebar .page-sidebar-menu li>a>.arrow:before, 
.blue .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before, 
.blue .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before{
  color:white;
}

/*左侧栏中的选项卡按钮*/
.blue .tabbable-designer>.nav-tabs>li>a{
  color:#c4d5e4;
}
.blue .tabbable-designer>.nav-tabs>li.active>a{
  color: white;
}

.unitselect{
  width: auto;
}