<div class = "template2 login column ui-sortable containerComp">
    <div class="logo" data-role="login_logo" id="login_logo" cname="login_logo_控件" scope="bootstrap" crtltype="kendo">
        <a href="javascript:;">
            <img src="../../../scripts/designer/images/logo.png" style="height: 17px;" alt="" />
        </a>
    </div>
    <div class="content">
        <form class="login-form column ui-sortable containerComp" action="index.html" method="post">
            <div class="form-title" data-role="login_title" id="login_title" cname="login_title_控件" scope="bootstrap" crtltype="kendo">
                <span class="form-title">欢迎.</span>
                <span class="form-subtitle">请 登录.</span>
            </div>
            <div class="alert alert-danger display-hide" data-role="login_alert" id="login_alert" cname="login_alert_控件" scope="bootstrap" crtltype="kendo">
                <button class="close" data-close="alert"></button>
                <span>请输入用户名和密码.</span>
            </div>
            <div class="form-group" data-role="login_username" id="login_username" cname="login_username_控件" scope="bootstrap" crtltype="kendo">
                <label class="control-label visible-ie8 visible-ie9">用户名</label>
                <input class="form-control form-control-solid placeholder-no-fix id frame-variable" frame-variable="username" type="text" autocomplete="off" placeholder="用户名" name="username" />
            </div>
            <div class="form-group" data-role="login_password" id="login_password" cname="login_password_控件" scope="bootstrap" crtltype="kendo">
                <label class="control-label visible-ie8 visible-ie9">密码</label>
                <input class="form-control form-control-solid placeholder-no-fix id frame-variable" frame-variable="password" type="password" autocomplete="off" placeholder="密码" name="password" />
            </div>
            <div class="form-actions" data-role="login_actions" id="login_actions" cname="login_actions_控件" scope="bootstrap" crtltype="kendo">
                <button type="button" class="btn red btn-block uppercase id frame-variable" frame-variable="loginBtn">登录</button>
            </div>
            <div class="create-account" data-role="login_register" id="login_register" cname="login_register_控件" scope="bootstrap" crtltype="kendo">
                <p>
                    <a href="javascript:;" id="register-btn" class="uppercase">创建用户</a>
                </p>
            </div>
        
        </form> 
    </div>
    <div class="copyright" data-role="login_copyright"  id="login_copyright" cname="login_copyright_控件" scope="bootstrap" crtltype="kendo"> 
        <p class="id frame-variable" frame-variable="copyright">华闽通达信息技术有限公司版权所有 ? 1997- 2015 2015</p> 
    </div>
</div>