<div class="user-login-5 template6 column ui-sortable containerComp">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset" >
            <div class="logo" data-role="login_logo" id="login_logo" cname="login_logo_控件" scope="bootstrap" crtltype="kendo">
                <a href="javascript:;">
                    <img class="login-logo login-6" src="../../../scripts/designer/images/logo.png" /></a>
            </div>
            <div class="login-content column ui-sortable containerComp">
                <div data-role="login_title" id="login_title" cname="login_title_控件" scope="bootstrap" crtltype="kendo">
                    <h1>用户登录</h1>
                    <p>准备开启更卓有成效的工作方式？</p>
                </div>
                <form action="javascript:;" class="login-form column ui-sortable containerComp" method="post">
                    <div class="row">
                        <div class="col-xs-6" data-role="login_username" id="login_username" cname="login_username_控件" scope="bootstrap" crtltype="kendo">
                            <input class="form-control form-control-solid placeholder-no-fix id frame-variable" frame-variable="username" type="text" autocomplete="off" placeholder="用户名" name="username" required/>
                        </div>
                        <div class="col-xs-6" data-role="login_password" id="login_password" cname="login_password_控件" scope="bootstrap" crtltype="kendo">
                            <input class="form-control form-control-solid placeholder-no-fix id frame-variable" frame-variable="password" type="password" autocomplete="off" placeholder="密码" name="password" required/>
                        </div>
                    </div>
                    <div class="alert alert-danger display-hide"  data-role="login_alert" id="login_alert" cname="login_alert_控件" scope="bootstrap" crtltype="kendo">
                        <button class="close" data-close="alert"></button>
                        <span>请输入用户名和密码.</span>
                    </div>
                    <div class="row" data-role="login_actions" id="login_actions" cname="login_actions_控件" scope="bootstrap" crtltype="kendo">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8 text-right">
                            <button class="btn blue id frame-variable" frame-variable="loginBtn" type="button">登录</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-footer" data-role="login_copyright" id="login_copyright" cname="login_copyright_控件" scope="bootstrap" crtltype="kendo">
                <div class="row bs-reset">
                    <div class="col-xs-4 bs-reset"></div>
                    <div class="col-xs-8 bs-reset">
                        <div class="login-copyright text-right">
                            <p class="id frame-variable" frame-variable="copyright">华闽通达信息技术有限公司版权所有 ? 1997- 2015 2015</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg" style="background-image:url(../../../scripts/plugins/bootstrap/login/img/bg1.jpg)"></div>
        </div>
    </div>
</div>