<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.theme.mapper.SysThemeTmpLayoutAreaMapper">

 	<resultMap id="sysThemeTmpLayoutAreaResultMap"	type="com.glaf.theme.domain.SysThemeTmpLayoutArea">
        <id property="areaId" column="AREA_ID_" jdbcType="VARCHAR"/>
        <result property="layoutId" column="LAYOUT_ID_" jdbcType="VARCHAR"/>
        <result property="areaName" column="AREA_NAME_" jdbcType="VARCHAR"/>
        <result property="areaCode" column="AREA_CODE_" jdbcType="VARCHAR"/>
        <result property="compType" column="COMP_TYPE_" jdbcType="VARCHAR"/>
        <result property="elemCode" column="ELEM_CODE_" jdbcType="VARCHAR"/>
        <result property="selectorExp" column="SELECTOR_EXP_" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATEBY_" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATEBY_" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATETIME_" jdbcType="TIMESTAMP"/>
        <result property="deleteFlag" column="DELETE_FLAG_" jdbcType="INTEGER"/>
	</resultMap>

 
	<insert id="insertSysThemeTmpLayoutArea" parameterType="com.glaf.theme.domain.SysThemeTmpLayoutArea">
		insert into SYS_THEME_TMP_LAYOUT_AREA_ 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    AREA_ID_
			<if test="layoutId != null">
				,LAYOUT_ID_ 
			</if>
			<if test="areaName != null">
				,AREA_NAME_ 
			</if>
			<if test="areaCode != null">
				,AREA_CODE_ 
			</if>
			<if test="compType != null">
				,COMP_TYPE_ 
			</if>
			<if test="elemCode != null">
				,ELEM_CODE_ 
			</if>
			<if test="selectorExp != null">
				,SELECTOR_EXP_ 
			</if>
			<if test="createBy != null">
				,CREATEBY_ 
			</if>
			<if test="createTime != null">
				,CREATETIME_ 
			</if>
			<if test="updateBy != null">
				,UPDATEBY_ 
			</if>
			<if test="updateTime != null">
				,UPDATETIME_ 
			</if>
			<if test="deleteFlag != null">
				,DELETE_FLAG_ 
			</if>
        </trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			  #{areaId, jdbcType=VARCHAR}
	     
			<if test="layoutId != null">
				,#{layoutId, jdbcType=VARCHAR}
			</if>
			<if test="areaName != null">
				,#{areaName, jdbcType=VARCHAR}
			</if>
			<if test="areaCode != null">
				,#{areaCode, jdbcType=VARCHAR}
			</if>
			<if test="compType != null">
				,#{compType, jdbcType=VARCHAR}
			</if>
			<if test="elemCode != null">
				,#{elemCode, jdbcType=VARCHAR}
			</if>
			<if test="selectorExp != null">
				,#{selectorExp, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				,#{updateTime, jdbcType=TIMESTAMP}
			</if>
			<if test="deleteFlag != null">
				,#{deleteFlag, jdbcType=INTEGER}
			</if>
	    </trim>
    </insert>

	 
	<update id="updateSysThemeTmpLayoutArea" parameterType="com.glaf.theme.domain.SysThemeTmpLayoutArea">
		update SYS_THEME_TMP_LAYOUT_AREA_
		set
        <trim prefix="" suffix="" suffixOverrides=",">		
			<if test="layoutId != null">
				LAYOUT_ID_ = #{layoutId, jdbcType=VARCHAR},
			</if>
			<if test="areaName != null">
				AREA_NAME_ = #{areaName, jdbcType=VARCHAR},
			</if>
			<if test="areaCode != null">
				AREA_CODE_ = #{areaCode, jdbcType=VARCHAR},
			</if>
			<if test="compType != null">
				COMP_TYPE_ = #{compType, jdbcType=VARCHAR},
			</if>
			<if test="elemCode != null">
				ELEM_CODE_ = #{elemCode, jdbcType=VARCHAR},
			</if>
			<if test="selectorExp != null">
				SELECTOR_EXP_ = #{selectorExp, jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATEBY_ = #{createBy, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATETIME_ = #{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				UPDATEBY_ = #{updateBy, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATETIME_ = #{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				DELETE_FLAG_ = #{deleteFlag, jdbcType=INTEGER},
			</if>
        </trim>
		where
          AREA_ID_ = #{areaId, jdbcType=VARCHAR}
		
    </update>

 
	<delete id="deleteSysThemeTmpLayoutAreaById" parameterType="string"> 
        delete from SYS_THEME_TMP_LAYOUT_AREA_
        where AREA_ID_ =	#{id}
	</delete>

	
	<delete id="deleteSysThemeTmpLayoutAreas" parameterType="com.glaf.theme.query.SysThemeTmpLayoutAreaQuery">
		delete from SYS_THEME_TMP_LAYOUT_AREA_
		where ( 
 			  AREA_ID_ IN
              <foreach item="x_areaId" index="index" collection="areaIds" 
                     open="(" separator="," close=")">
                  #{x_areaId}
              </foreach>
		)
	</delete>


	<select id="getSysThemeTmpLayoutAreaById" parameterType="string" resultMap="sysThemeTmpLayoutAreaResultMap">
		select * from SYS_THEME_TMP_LAYOUT_AREA_ where AREA_ID_ = #{id}
	</select>


	<select id="getSysThemeTmpLayoutAreas" 
	    parameterType="com.glaf.theme.query.SysThemeTmpLayoutAreaQuery"
		resultMap="sysThemeTmpLayoutAreaResultMap">
		select distinct E.*
		<include refid="selectSysThemeTmpLayoutAreasSql" />
		<choose>
		  <when test="orderBy != null">
		     order by ${orderBy}
          </when>
		  <otherwise>
		      order by E.AREA_ID_ desc
		  </otherwise>
        </choose>
	</select>


	<select id="getSysThemeTmpLayoutAreaCount" 
	    parameterType="com.glaf.theme.query.SysThemeTmpLayoutAreaQuery"
		resultType="int">
		select count(*)
		<include refid="selectSysThemeTmpLayoutAreasSql" />
	</select>


	<sql id="selectSysThemeTmpLayoutAreasSql">

		from SYS_THEME_TMP_LAYOUT_AREA_ E
		
		<where>
		       1 = 1  
			 
	        
			<if test="layoutId != null and layoutId != '' ">
				and E.LAYOUT_ID_ = #{layoutId}
            </if>

			<if test="layoutIdLike != null and layoutIdLike != '' ">
				and E.LAYOUT_ID_ like #{layoutIdLike}
            </if>

			<if test="layoutIds != null and layoutIds.size() &gt; 0">
			    and E.LAYOUT_ID_ IN
                <foreach item="x_layoutId" index="index" collection="layoutIds" 
                     open="(" separator="," close=")">
                  #{x_layoutId}
                </foreach>
			</if>
	        
			<if test="areaName != null and areaName != '' ">
				and E.AREA_NAME_ = #{areaName}
            </if>

			<if test="areaNameLike != null and areaNameLike != '' ">
				and E.AREA_NAME_ like #{areaNameLike}
            </if>

			<if test="areaNames != null and areaNames.size() &gt; 0">
			    and E.AREA_NAME_ IN
                <foreach item="x_areaName" index="index" collection="areaNames" 
                     open="(" separator="," close=")">
                  #{x_areaName}
                </foreach>
			</if>
	        
			<if test="areaCode != null and areaCode != '' ">
				and E.AREA_CODE_ = #{areaCode}
            </if>

			<if test="areaCodeLike != null and areaCodeLike != '' ">
				and E.AREA_CODE_ like #{areaCodeLike}
            </if>

			<if test="areaCodes != null and areaCodes.size() &gt; 0">
			    and E.AREA_CODE_ IN
                <foreach item="x_areaCode" index="index" collection="areaCodes" 
                     open="(" separator="," close=")">
                  #{x_areaCode}
                </foreach>
			</if>
	        
			<if test="compType != null and compType != '' ">
				and E.COMP_TYPE_ = #{compType}
            </if>

			<if test="compTypeLike != null and compTypeLike != '' ">
				and E.COMP_TYPE_ like #{compTypeLike}
            </if>

			<if test="compTypes != null and compTypes.size() &gt; 0">
			    and E.COMP_TYPE_ IN
                <foreach item="x_compType" index="index" collection="compTypes" 
                     open="(" separator="," close=")">
                  #{x_compType}
                </foreach>
			</if>
	        
			<if test="elemCode != null and elemCode != '' ">
				and E.ELEM_CODE_ = #{elemCode}
            </if>

			<if test="elemCodeLike != null and elemCodeLike != '' ">
				and E.ELEM_CODE_ like #{elemCodeLike}
            </if>

			<if test="elemCodes != null and elemCodes.size() &gt; 0">
			    and E.ELEM_CODE_ IN
                <foreach item="x_elemCode" index="index" collection="elemCodes" 
                     open="(" separator="," close=")">
                  #{x_elemCode}
                </foreach>
			</if>
	        
			<if test="selectorExp != null and selectorExp != '' ">
				and E.SELECTOR_EXP_ = #{selectorExp}
            </if>

			<if test="selectorExpLike != null and selectorExpLike != '' ">
				and E.SELECTOR_EXP_ like #{selectorExpLike}
            </if>

			<if test="selectorExps != null and selectorExps.size() &gt; 0">
			    and E.SELECTOR_EXP_ IN
                <foreach item="x_selectorExp" index="index" collection="selectorExps" 
                     open="(" separator="," close=")">
                  #{x_selectorExp}
                </foreach>
			</if>
	        
			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
            </if>

			<if test="createByLike != null and createByLike != '' ">
				and E.CREATEBY_ like #{createByLike}
            </if>

			<if test="createBys != null and createBys.size() &gt; 0">
			    and E.CREATEBY_ IN
                <foreach item="x_createBy" index="index" collection="createBys" 
                     open="(" separator="," close=")">
                  #{x_createBy}
                </foreach>
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
            </if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
            </if>

	        
			<if test="updateBy != null and updateBy != '' ">
				and E.UPDATEBY_ = #{updateBy}
            </if>

			<if test="updateByLike != null and updateByLike != '' ">
				and E.UPDATEBY_ like #{updateByLike}
            </if>

			<if test="updateBys != null and updateBys.size() &gt; 0">
			    and E.UPDATEBY_ IN
                <foreach item="x_updateBy" index="index" collection="updateBys" 
                     open="(" separator="," close=")">
                  #{x_updateBy}
                </foreach>
			</if>

			<if test="updateTimeGreaterThanOrEqual != null">
				and E.UPDATETIME_ &gt;= #{updateTimeGreaterThanOrEqual}
            </if>

			<if test="updateTimeLessThanOrEqual != null">
				and E.UPDATETIME_ &lt;= #{updateTimeLessThanOrEqual}
            </if>


			<if test="deleteFlag != null">
				and E.DELETE_FLAG_ = #{deleteFlag}
            </if>

			<if test="deleteFlagGreaterThanOrEqual != null">
				and E.DELETE_FLAG_ &gt;= #{deleteFlagGreaterThanOrEqual}
            </if>

			<if test="deleteFlagLessThanOrEqual != null">
				and E.DELETE_FLAG_ &lt;= #{deleteFlagLessThanOrEqual}
            </if>

			<if test="deleteFlags != null and deleteFlags.size() &gt; 0">
			    and E.DELETE_FLAG_ IN
                <foreach item="x_deleteFlag" index="index" collection="deleteFlags" 
                     open="(" separator="," close=")">
                  #{x_deleteFlag}
                </foreach>
			</if>
      
            <if test="dataRequest != null and dataRequest.filter != null ">
			    <include refid="com.glaf.global.GlobalMapper.dataRequestFilterCondition" />
			</if>
			 
		</where>
	</sql>

</mapper>