<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.theme.mapper.SysThemeTmpMapper">

	<resultMap id="sysThemeTmpResultMap"	type="com.glaf.theme.domain.SysThemeTmp">
        <id property="themeTmpId" column="THEME_TMP_ID_" jdbcType="VARCHAR"/>
        <result property="themeTmpName" column="THEME_TMP_NAME_" jdbcType="VARCHAR"/>
        <result property="themeTmpCode" column="THEME_TMP_CODE_" jdbcType="VARCHAR"/>
        <result property="ui" column="UI_" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATEBY_" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATEBY_" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATETIME_" jdbcType="TIMESTAMP"/>
        <result property="deleteFlag" column="DELETE_FLAG_" jdbcType="INTEGER"/>
        <result property="publisher" column="PUBLISHER_" jdbcType="VARCHAR"/>
        <result property="publishTime" column="PUBLISH_TIME_" jdbcType="TIMESTAMP"/>
        <result property="status" column="STATUS_" jdbcType="INTEGER"/>
        <result property="ver" column="VER_" jdbcType="INTEGER"/>
        <result property="defaultFlag" column="DEFAULT_FLAG_" jdbcType="INTEGER"/>
	</resultMap>
	
 	<resultMap id="sysThemeTmpResultBlobMap"	type="com.glaf.theme.domain.SysThemeTmp">
        <id property="themeTmpId" column="THEME_TMP_ID_" jdbcType="VARCHAR"/>
        <result property="themeTmpName" column="THEME_TMP_NAME_" jdbcType="VARCHAR"/>
        <result property="themeTmpCode" column="THEME_TMP_CODE_" jdbcType="VARCHAR"/>
        <result property="ui" column="UI_" jdbcType="VARCHAR"/>
        
        <result property="thumbnail" column="THUMBNAIL_" jdbcType="BLOB" />
        
        <result property="createBy" column="CREATEBY_" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATEBY_" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATETIME_" jdbcType="TIMESTAMP"/>
        <result property="deleteFlag" column="DELETE_FLAG_" jdbcType="INTEGER"/>
        <result property="publisher" column="PUBLISHER_" jdbcType="VARCHAR"/>
        <result property="publishTime" column="PUBLISH_TIME_" jdbcType="TIMESTAMP"/>
        <result property="status" column="STATUS_" jdbcType="INTEGER"/>
        <result property="ver" column="VER_" jdbcType="INTEGER"/>
        <result property="defaultFlag" column="DEFAULT_FLAG_" jdbcType="INTEGER"/>
	</resultMap>

 
	<insert id="insertSysThemeTmp" parameterType="com.glaf.theme.domain.SysThemeTmp">
		insert into SYS_THEME_TMP_ 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    THEME_TMP_ID_
			<if test="themeTmpName != null">
				,THEME_TMP_NAME_ 
			</if>
			<if test="themeTmpCode != null">
				,THEME_TMP_CODE_ 
			</if>
			<if test="thumbnail != null">
				,THUMBNAIL_ 
			</if>
			<if test="ui != null">
				,UI_ 
			</if>
			<if test="createBy != null">
				,CREATEBY_ 
			</if>
			<if test="createTime != null">
				,CREATETIME_ 
			</if>
			<if test="updateBy != null">
				,UPDATEBY_ 
			</if>
			<if test="updateTime != null">
				,UPDATETIME_ 
			</if>
			<if test="deleteFlag != null">
				,DELETE_FLAG_ 
			</if>
			<if test="publisher != null">
				,PUBLISHER_ 
			</if>
			<if test="publishTime != null">
				,PUBLISH_TIME_ 
			</if>
			<if test="status != null">
				,STATUS_ 
			</if>
			<if test="ver != null">
				,VER_ 
			</if>
			<if test="defaultFlag != null">
				,DEFAULT_FLAG_ 
			</if>
        </trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			  #{themeTmpId, jdbcType=VARCHAR}
	     
			<if test="themeTmpName != null">
				,#{themeTmpName, jdbcType=VARCHAR}
			</if>
			<if test="themeTmpCode != null">
				,#{themeTmpCode, jdbcType=VARCHAR}
			</if>
			<if test="thumbnail != null">
				,#{thumbnail, jdbcType=BLOB}
			</if>
			<if test="ui != null">
				,#{ui, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				,#{updateTime, jdbcType=TIMESTAMP}
			</if>
			<if test="deleteFlag != null">
				,#{deleteFlag, jdbcType=INTEGER}
			</if>
			<if test="publisher != null">
				,#{publisher, jdbcType=VARCHAR}
			</if>
			<if test="publishTime != null">
				,#{publishTime, jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				,#{status, jdbcType=INTEGER}
			</if>
			<if test="ver != null">
				,#{ver, jdbcType=INTEGER}
			</if>
			<if test="defaultFlag != null">
				,#{DEFAULT_FLAG_, jdbcType=INTEGER}
			</if>
	    </trim>
    </insert>

	 
	<update id="updateSysThemeTmp" parameterType="com.glaf.theme.domain.SysThemeTmp">
		update SYS_THEME_TMP_
		set
        <trim prefix="" suffix="" suffixOverrides=",">		
			<if test="themeTmpName != null">
				THEME_TMP_NAME_ = #{themeTmpName, jdbcType=VARCHAR},
			</if>
			<if test="themeTmpCode != null">
				THEME_TMP_CODE_ = #{themeTmpCode, jdbcType=VARCHAR},
			</if>
			<if test="thumbnail != null">
				THUMBNAIL_ = #{thumbnail, jdbcType=BLOB},
			</if>
			<if test="ui != null">
				UI_ = #{ui, jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATEBY_ = #{createBy, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATETIME_ = #{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				UPDATEBY_ = #{updateBy, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATETIME_ = #{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				DELETE_FLAG_ = #{deleteFlag, jdbcType=INTEGER},
			</if>
			<if test="publisher != null">
				PUBLISHER_ = #{publisher, jdbcType=VARCHAR},
			</if>
			<if test="publishTime != null">
				PUBLISH_TIME_ = #{publishTime, jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				STATUS_ = #{status, jdbcType=INTEGER},
			</if>
			<if test="ver != null">
				VER_ = #{ver, jdbcType=INTEGER},
			</if>
			<if test="defaultFlag != null">
				DEFAULT_FLAG_ = #{defaultFlag, jdbcType=INTEGER},
			</if>
        </trim>
		where
          THEME_TMP_ID_ = #{themeTmpId, jdbcType=VARCHAR}
		
    </update>

 
	<delete id="deleteSysThemeTmpById" parameterType="string"> 
        delete from SYS_THEME_TMP_
        where THEME_TMP_ID_ =	#{id}
	</delete>

	
	<delete id="deleteSysThemeTmps" parameterType="com.glaf.theme.query.SysThemeTmpQuery">
		delete from SYS_THEME_TMP_
		where ( 
 			  THEME_TMP_ID_ IN
              <foreach item="x_themeTmpId" index="index" collection="themeTmpIds" 
                     open="(" separator="," close=")">
                  #{x_themeTmpId}
              </foreach>
		)
	</delete>


	<select id="getSysThemeTmpById" parameterType="string" resultMap="sysThemeTmpResultMap">
		select * from SYS_THEME_TMP_ where THEME_TMP_ID_ = #{id}
	</select>
	
	<select id="getThumbnailById" parameterType="string" resultMap="sysThemeTmpResultBlobMap">
		select * from SYS_THEME_TMP_ where THEME_TMP_ID_ = #{id}
	</select>


	<select id="getSysThemeTmps" 
	    parameterType="com.glaf.theme.query.SysThemeTmpQuery"
		resultMap="sysThemeTmpResultMap">
		select  E.*
		<include refid="selectSysThemeTmpsSql" />
		<choose>
		  <when test="orderBy != null">
		     order by ${orderBy}
          </when>
		  <otherwise>
		      order by E.THEME_TMP_ID_ desc
		  </otherwise>
        </choose>
	</select>


	<select id="getSysThemeTmpCount" 
	    parameterType="com.glaf.theme.query.SysThemeTmpQuery"
		resultType="int">
		select count(*)
		<include refid="selectSysThemeTmpsSql" />
	</select>


	<sql id="selectSysThemeTmpsSql">

		from SYS_THEME_TMP_ E
		
		<where>
		       1 = 1  
			 
	        
			<if test="themeTmpName != null and themeTmpName != '' ">
				and E.THEME_TMP_NAME_ = #{themeTmpName}
            </if>

			<if test="themeTmpNameLike != null and themeTmpNameLike != '' ">
				and E.THEME_TMP_NAME_ like #{themeTmpNameLike}
            </if>

			<if test="themeTmpNames != null and themeTmpNames.size() &gt; 0">
			    and E.THEME_TMP_NAME_ IN
                <foreach item="x_themeTmpName" index="index" collection="themeTmpNames" 
                     open="(" separator="," close=")">
                  #{x_themeTmpName}
                </foreach>
			</if>
	        
			<if test="themeTmpCode != null and themeTmpCode != '' ">
				and E.THEME_TMP_CODE_ = #{themeTmpCode}
            </if>

			<if test="themeTmpCodeLike != null and themeTmpCodeLike != '' ">
				and E.THEME_TMP_CODE_ like #{themeTmpCodeLike}
            </if>

			<if test="themeTmpCodes != null and themeTmpCodes.size() &gt; 0">
			    and E.THEME_TMP_CODE_ IN
                <foreach item="x_themeTmpCode" index="index" collection="themeTmpCodes" 
                     open="(" separator="," close=")">
                  #{x_themeTmpCode}
                </foreach>
			</if>
	        
			<if test="ui != null and ui != '' ">
				and E.UI_ = #{ui}
            </if>

			<if test="uiLike != null and uiLike != '' ">
				and E.UI_ like #{uiLike}
            </if>

			<if test="uis != null and uis.size() &gt; 0">
			    and E.UI_ IN
                <foreach item="x_ui" index="index" collection="uis" 
                     open="(" separator="," close=")">
                  #{x_ui}
                </foreach>
			</if>
	        
			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
            </if>

			<if test="createByLike != null and createByLike != '' ">
				and E.CREATEBY_ like #{createByLike}
            </if>

			<if test="createBys != null and createBys.size() &gt; 0">
			    and E.CREATEBY_ IN
                <foreach item="x_createBy" index="index" collection="createBys" 
                     open="(" separator="," close=")">
                  #{x_createBy}
                </foreach>
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
            </if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
            </if>

	        
			<if test="updateBy != null and updateBy != '' ">
				and E.UPDATEBY_ = #{updateBy}
            </if>

			<if test="updateByLike != null and updateByLike != '' ">
				and E.UPDATEBY_ like #{updateByLike}
            </if>

			<if test="updateBys != null and updateBys.size() &gt; 0">
			    and E.UPDATEBY_ IN
                <foreach item="x_updateBy" index="index" collection="updateBys" 
                     open="(" separator="," close=")">
                  #{x_updateBy}
                </foreach>
			</if>

			<if test="updateTimeGreaterThanOrEqual != null">
				and E.UPDATETIME_ &gt;= #{updateTimeGreaterThanOrEqual}
            </if>

			<if test="updateTimeLessThanOrEqual != null">
				and E.UPDATETIME_ &lt;= #{updateTimeLessThanOrEqual}
            </if>


			<if test="deleteFlag != null">
				and E.DELETE_FLAG_ = #{deleteFlag}
            </if>

			<if test="deleteFlagGreaterThanOrEqual != null">
				and E.DELETE_FLAG_ &gt;= #{deleteFlagGreaterThanOrEqual}
            </if>

			<if test="deleteFlagLessThanOrEqual != null">
				and E.DELETE_FLAG_ &lt;= #{deleteFlagLessThanOrEqual}
            </if>

			<if test="deleteFlags != null and deleteFlags.size() &gt; 0">
			    and E.DELETE_FLAG_ IN
                <foreach item="x_deleteFlag" index="index" collection="deleteFlags" 
                     open="(" separator="," close=")">
                  #{x_deleteFlag}
                </foreach>
			</if>
      
	        
			<if test="publisher != null and publisher != '' ">
				and E.PUBLISHER_ = #{publisher}
            </if>

			<if test="publisherLike != null and publisherLike != '' ">
				and E.PUBLISHER_ like #{publisherLike}
            </if>

			<if test="publishers != null and publishers.size() &gt; 0">
			    and E.PUBLISHER_ IN
                <foreach item="x_publisher" index="index" collection="publishers" 
                     open="(" separator="," close=")">
                  #{x_publisher}
                </foreach>
			</if>

			<if test="publishTimeGreaterThanOrEqual != null">
				and E.PUBLISH_TIME_ &gt;= #{publishTimeGreaterThanOrEqual}
            </if>

			<if test="publishTimeLessThanOrEqual != null">
				and E.PUBLISH_TIME_ &lt;= #{publishTimeLessThanOrEqual}
            </if>


			<if test="status != null">
				and E.STATUS_ = #{status}
            </if>

			<if test="statusGreaterThanOrEqual != null">
				and E.STATUS_ &gt;= #{statusGreaterThanOrEqual}
            </if>

			<if test="statusLessThanOrEqual != null">
				and E.STATUS_ &lt;= #{statusLessThanOrEqual}
            </if>

			<if test="statuss != null and statuss.size() &gt; 0">
			    and E.STATUS_ IN
                <foreach item="x_status" index="index" collection="statuss" 
                     open="(" separator="," close=")">
                  #{x_status}
                </foreach>
			</if>
      

			<if test="ver != null">
				and E.VER_ = #{ver}
            </if>

			<if test="verGreaterThanOrEqual != null">
				and E.VER_ &gt;= #{verGreaterThanOrEqual}
            </if>

			<if test="verLessThanOrEqual != null">
				and E.VER_ &lt;= #{verLessThanOrEqual}
            </if>

			<if test="vers != null and vers.size() &gt; 0">
			    and E.VER_ IN
                <foreach item="x_ver" index="index" collection="vers" 
                     open="(" separator="," close=")">
                  #{x_ver}
                </foreach>
			</if>
      
            <if test="dataRequest != null and dataRequest.filter != null ">
			    <include refid="com.glaf.global.GlobalMapper.dataRequestFilterCondition" />
			</if>
			
			<if test="defaultFlag != null">
				and E.DEFAULT_FLAG_ = #{defaultFlag}
            </if>
		</where>
	</sql>

</mapper>