 <div class="btn-group">
    <button type="button" data-role="mtbutton" cname="mtbutton_控件" scope="bootstrap" crtltype="kendo" class="btn btn-default"><span class="id frame-variable" frame-variable="fv1">默认按钮</span></button>
    <button type="button" data-role="mtbutton" cname="mtbutton_控件" scope="bootstrap" crtltype="kendo" class="btn btn-default"><span class="id frame-variable" frame-variable="fv2">默认按钮</span></button>
    <button type="button" data-role="mtbutton" cname="mtbutton_控件" scope="bootstrap" crtltype="kendo" class="btn btn-default"><span class="id frame-variable" frame-variable="fv3">默认按钮</span></button>
  </div>