		 <li id="touchspin_5439" tmpid="5439" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="左右按钮型">
		   <div class="mymedia-body"><h4 class="mymedia-heading">左右按钮型</h4></div>
		 </li>
		 <li id="touchspin_5638" tmpid="5638" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="上下按钮型">
		   <div class="mymedia-body"><h4 class="mymedia-heading">上下按钮型</h4></div>
		 </li>
		 <li id="touchspin_11938" tmpid="11938" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="无按钮型">
		   <div class="mymedia-body"><h4 class="mymedia-heading">无按钮型</h4></div>
		 </li>
