<div class="input-group bootstrap-touchspin component">
			<span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
			<input type="text" value="" name="demo_vertical" class="form-control id frame-variable" frame-variable="fv1" style="display: block;">
			<span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
			<span class="input-group-btn-vertical">   
				<button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyphicon glyphicon-plus "></i></button>
				<button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyphicon glyphicon-minus"></i></button>
			</span>
		</div>