<div class="mt-element-list">
    <div class="mt-list-head list-default ext-1 font-dark bg-yellow-crusta">
        <div class="row">
            <div class="col-xs-8">
                <div class="list-head-title-container">
                    <h3 class="id list-title frame-variable" frame-variable="fv1"></h3>
                    <div class="id list-date frame-variable" frame-variable="fv2"></div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="list-head-summary-container">
                    <div class="list-pending">
                        <div class="list-count">3</div>
                        <div class="list-label">Pending</div>
                    </div>
                    <div class="list-done">
                        <div class="list-count last">2</div>
                        <div class="list-label">Completed</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-list-container list-default ext-1">
        <ul>
            <li class="mt-list-item done">
                <div class="list-icon-container done">
                    <a href="javascript:;">
                        <i class="icon-check"></i>
                    </a>
                </div>
                <div class="list-datetime"> 11am
                    <br> 8 Nov </div>
                <div class="list-item-content">
                    <h3 class="uppercase">
                        <a href="javascript:;">Concept Proof</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </li>
            <li class="mt-list-item">
                <div class="list-icon-container">
                    <a href="javascript:;">
                        <i class="icon-close"></i>
                    </a>
                </div>
                <div class="list-datetime"> 11am
                    <br> 8 Nov </div>
                <div class="list-item-content">
                    <h3 class="uppercase">
                        <a href="javascript:;">Listings Feature</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </li>
        </ul>
    </div>
</div>