<div class="mt-element-list">
    <div class="mt-list-head list-todo font-white bg-red">
        <div class="list-head-title-container">
            <h3 class="id list-title frame-variable" frame-variable="fv1"></h3>
            <div class="list-head-count">
                <div class="list-head-count-item">
                    <i class="fa fa-check"></i> 15</div>
                <div class="list-head-count-item">
                    <i class="fa fa-cog"></i> 34</div>
            </div>
        </div>
        <a href="javascript:;">
            <div class="list-count pull-right bg-red-mint">
                <i class="fa fa-plus"></i>
            </div>
        </a>
    </div>
    <div class="mt-list-container list-todo">
        <div class="list-todo-line"></div>
        <ul>
            <li class="mt-list-item">
                <div class="list-todo-icon bg-white">
                    <i class="fa fa-database"></i>
                </div>
                <div class="list-todo-item">
                    <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-1" aria-expanded="true">
                        <div class="list-toggle done uppercase bg-dark">
                            <div class="list-toggle-title bold">Metronic Database</div>
                            <div class="badge badge-default pull-right bg-white font-dark bold">3</div>
                        </div>
                    </a>
                    <div class="task-list panel-collapse collapse in" id="task-1">
                        <ul>
                            <li class="task-list-item done">
                                <div class="task-icon">
                                    <a href="javascript:;">
                                        <i class="fa fa-database"></i>
                                    </a>
                                </div>
                                <div class="task-status">
                                    <a class="done" href="javascript:;">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a class="pending" href="javascript:;">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                                <div class="task-content">
                                    <h4 class="uppercase bold">
                                        <a href="javascript:;">Database Optimization</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                </div>
                            </li>
                            <li class="task-list-item">
                                <div class="task-icon">
                                    <a href="javascript:;">
                                        <i class="fa fa-table"></i>
                                    </a>
                                </div>
                                <div class="task-status">
                                    <a class="done" href="javascript:;">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a class="pending" href="javascript:;">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                                <div class="task-content">
                                    <h4 class="uppercase bold">
                                        <a href="javascript:;">Table Sorting</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                </div>
                            </li>
                            <li class="task-list-item">
                                <div class="task-icon">
                                    <a href="javascript:;">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                                <div class="task-status">
                                    <a class="done" href="javascript:;">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a class="pending" href="javascript:;">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                                <div class="task-content">
                                    <h4 class="uppercase bold">
                                        <a href="javascript:;">Data Entry</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>