		 <li id="label_2341" tmpid="2341" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="长标签型（span）">
		   <div class="mymedia-body"><h4 class="mymedia-heading">长标签型（span）</h4></div>
		 </li>
		 <li id="label_8038" tmpid="8038" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="短标签（label）">
		   <div class="mymedia-body"><h4 class="mymedia-heading">短标签（label）</h4></div>
		 </li>
		 <li id="label_8339" tmpid="8339" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="复合型（div+span）">
		   <div class="mymedia-body"><h4 class="mymedia-heading">复合型（div+span）</h4></div>
		 </li>
