		 <li id="mtbutton_1838" tmpid="1838" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="默认按钮">
		   <div class="mymedia-body"><h4 class="mymedia-heading">默认按钮</h4></div>
		 </li>
		 <li id="mtbutton_1839" tmpid="1839" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="原始按钮">
		   <div class="mymedia-body"><h4 class="mymedia-heading">原始按钮</h4></div>
		 </li>
		 <li id="mtbutton_1840" tmpid="1840" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="成功按钮">
		   <div class="mymedia-body"><h4 class="mymedia-heading">成功按钮</h4></div>
		 </li>
		 <li id="mtbutton_1841" tmpid="1841" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="信息按钮">
		   <div class="mymedia-body"><h4 class="mymedia-heading">信息按钮</h4></div>
		 </li>
		 <li id="mtbutton_1842" tmpid="1842" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="警告按钮">
		   <div class="mymedia-body"><h4 class="mymedia-heading">警告按钮</h4></div>
		 </li>
		 <li id="mtbutton_1843" tmpid="1843" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="危险按钮">
		   <div class="mymedia-body"><h4 class="mymedia-heading">危险按钮</h4></div>
		 </li>
		 <li id="mtbutton_1844" tmpid="1844" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="链接按钮">
		   <div class="mymedia-body"><h4 class="mymedia-heading">链接按钮</h4></div>
		 </li>
