		 <li id="login_verify_6938" tmpid="6938" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="自适应">
		   <div class="mymedia-body"><h4 class="mymedia-heading">自适应</h4></div>
		 </li>
		 <li id="login_verify_9838" tmpid="9838" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="默认">
		   <div class="mymedia-body"><h4 class="mymedia-heading">默认</h4></div>
		 </li>
