 <div class="page-header-mt navbar">
            <div class="page-header-inner ">      
                <!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
                <div class="hor-menu hidden-sm hidden-xs">
                    <ul class="nav navbar-nav">
                        <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                        
                        <li class="mega-menu-dropdown">
                            <a href="javascript:;" class="dropdown-toggle id frame-variable" frame-variable="fv1" data-hover="megamenu-dropdown" data-close-others="true" > Mega
                                
                            </a>
                            <ul class="dropdown-menu" style="min-width: 700px;">
                                <li>
                                    <!-- Content container to add padding -->
                                    <div class="mega-menu-content">
                                        <div class="mt-row">
                                            <div class="col-md-4">
                                                <ul class="mega-menu-submenu">
                                                    <li>
                                                        <h3>Section 1</h3>
                                                    </li>
                                                    <li>
                                                        <a href="#">Example Link</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Example Link</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="mega-menu-submenu">
                                                    <li>
                                                        <h3>Section 2</h3>
                                                    </li>
                                                    <li>
                                                        <a href="#">Example Link</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Example Link</a>
                                                    </li>
                                                
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="mega-menu-submenu">
                                                    <li>
                                                        <h3>Section 3</h3>
                                                    </li>
                                                    <li>
                                                        <a href="#">Example Link</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Example Link</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <div class="lineDiv"></div>
                        <li class="mega-menu-dropdown mega-menu-full" data-hover="megamenu-dropdown" data-close-others="true">
                            <a href="javascript:;" class="dropdown-toggle id frame-variable" frame-variable="fv2" data-hover="megamenu-dropdown" data-close-others="true"> Full Mega
                               
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!-- Content container to add padding -->
                                    <div class="mega-menu-content ">
                                        <div class="mt-row">
                                            <div class="col-md-8">
                                                <div class="mt-row">
                                                    <div class="col-md-3">
                                                        <ul class="mega-menu-submenu">
                                                            <li>
                                                                <h3>Section 1</h3>
                                                            </li>
                                                            <li>
                                                                <a href="#">Example Link</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Example Link</a>
                                                            </li>
                                                           
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul class="mega-menu-submenu">
                                                            <li>
                                                                <h3>Section 2</h3>
                                                            </li>
                                                            <li>
                                                                <a href="#">Example Link</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Example Link</a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul class="mega-menu-submenu">
                                                            <li>
                                                                <h3>Section 3</h3>
                                                            </li>
                                                            <li>
                                                                <a href="#">Example Link</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Example Link</a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul class="mega-menu-submenu">
                                                            <li>
                                                                <h3>Section 4</h3>
                                                            </li>
                                                            <li>
                                                                <a href="#">Example Link</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Example Link</a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <div class="lineDiv"></div>
                        <li class="classic-menu-dropdown">
                            <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="id frame-variable" frame-variable="fv3"> Classic
                            
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-bookmark-o"></i> Section 1 </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-user"></i> Section 2 </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-puzzle-piece"></i> Section 3 </a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:;">
                                        <i class="fa fa-envelope-o"></i> More options </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;"> Second level link </a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="javascript:;"> More options </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="index.html"> Third level link </a>
                                                </li>
                                                <li>
                                                    <a href="index.html"> Third level link </a>
                                                </li>
                                            </ul>
                                        </li>
                                     
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>  		      
            </div>   
        </div>