<div class="page-sidebar-mt vertical-menu">
	<div class="hor-menu hidden-sm hidden-xs"> 
		<ul class="page-sidebar-menu-mt page-sidebar-menu-light page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<li class="nav-item open">
				<a href="javascript:;" class="nav-link nav-toggle">
					<div class="megamenu_icon">
						<img src="/glaf/images/FIX_print_selection.png">
					</div>
					<span class="title">菜单1</span>
				</a>
				<ul class="sub-menu" style="display: block;">
					<li class="nav-item selectedMenu">
						<a href="#" class="nav-link">
							<div class="selectDiv">
							</div>
							<div class="splitDiv">
							</div>
							<div class="indentImg">
								<i class="fa fa-caret-right">
								</i>
							</div>
							<span class="title">菜单1-1</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							<div class="selectDiv">
							</div>
							<div class="splitDiv">
							</div>
							<div class="indentImg">
								<i class="fa fa-caret-right">
								</i>
							</div>
							<span class="title">菜单1-2</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							<div class="selectDiv">
							</div>
							<div class="splitDiv">
							</div>
							<div class="indentImg">
								<i class="fa fa-caret-right">
								</i>
							</div>
							<span class="title">菜单1-3</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							<div class="selectDiv">
							</div>
							<div class="splitDiv">
							</div>
							<div class="indentImg">
								<i class="fa fa-caret-right">
								</i>
							</div>
							<span class="title">菜单1-4</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>