<div class="page-sidebar-mt navbar-collapse collapse updown upbig">
		<ul class="page-sidebar-menu-mt page-sidebar-menu-light page-header-fixed page-sidebar-menu-hover-submenu-mt " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">

			<li class="nav-item start ">
				<a href="javascript:;" class="nav-link nav-toggle"> 
				<div class="megamenu_icon"><i class="icon-home"></i></div>
					<span class="title id frame-variable" frame-variable="fv1">Dashboard</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item start ">
						<a href="index.html" class="nav-link "> 
						<div class="megamenu_icon"><i class="icon-bar-chart"></i></div>
							<span class="title">Dashboard 1</span>
						</a>
					</li>
					<li class="nav-item start ">
						<a href="#" class="nav-link ">
							
						<div class="megamenu_icon"><i class="icon-bulb"></i></div>
							<span class="title">Dashboard 2</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="heading">
				<h3 class="uppercase">Features</h3>
			</li>
			<li class="nav-item  ">
				<a href="javascript:;" class="nav-link nav-toggle">
					
				<div class="megamenu_icon"><i class="icon-diamond"></i></div>
					<span class="title id frame-variable" frame-variable="fv2">UI Features</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item  ">
						<a href="#" class="nav-link ">
							<span class="title">Color Library</span>
						</a>
					</li>
					<li class="nav-item  ">
						<a href="javascript:;" class="nav-link nav-toggle">
							<span class="title">Page Progress Bar</span>
							<span class="arrow"></span>
						</a>
						<ul class="sub-menu">
							<li class="nav-item ">
								<a href="#" class="nav-link ">Flash</a>
							</li>
							<li class="nav-item ">
								<a href="#" class="nav-link ">Big Counter</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="nav-item  ">
				<a href="javascript:;" class="nav-link nav-toggle">
					
				<div class="megamenu_icon"><i class="icon-puzzle"></i></div>
					<span class="title id frame-variable" frame-variable="fv3">Components</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item  ">
						<a href="#" class="nav-link ">
							<span class="title">Date & Time Pickers</span>
						</a>
					</li>
					<li class="nav-item  ">
						<a href="#" class="nav-link ">
							<span class="title">Color Pickers</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>