<div class="horizontal-menu page-header-mt" >
	<div class="page-header-inner ">
		<div class="megamenu-preBtn"><</div>
		<div class="hor-menu hidden-sm hidden-xs">
			<ul class="nav navbar-nav">
				<li class="classic-menu-dropdown">
					<a href="#" class="nav-link">
						<div class="megamenu_icon">
							<i class="icon-printer">
							</i>
						</div>
						<span class="title">新表头_1</span>
					</a>
				</li>
				<div class="lineDiv">
				</div>
				<li class="classic-menu-dropdown">
					<a href="#" class="nav-link">
						<div class="megamenu_icon">
							<i class="icon-printer">
							</i>
						</div>
						<span class="title">新表头_2</span>
					</a>
				</li>
				<div class="lineDiv">
				</div>
				<li class="classic-menu-dropdown">
					<a href="#" class="nav-link">
						<div class="megamenu_icon">
							<i class="icon-printer">
							</i>
						</div>
						<span class="title">新表头_3</span>
					</a>
				</li>
				<div class="lineDiv">
				</div>
				<li class="classic-menu-dropdown">
					<a href="#" class="nav-link">
						<div class="megamenu_icon">
							<i class="icon-printer">
							</i>
						</div>
						<span class="title">新表头_4</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="megamenu-nextBtn">></div>
	</div>
</div>