		 <li id="datepickerbt_2238" tmpid="2238" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="带日历图标型">
		   <div class="mymedia-body"><h4 class="mymedia-heading">带日历图标型</h4></div>
		 </li>
		 <li id="datepickerbt_2239" tmpid="2239" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="文本框型">
		   <div class="mymedia-body"><h4 class="mymedia-heading">文本框型</h4></div>
		 </li>
		 <li id="datepickerbt_8338" tmpid="8338" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="纯文本框型">
		   <div class="mymedia-body"><h4 class="mymedia-heading">纯文本框型</h4></div>
		 </li>
