<div class="id portlet portlet-sortable box green-haze">
                                <div class="id portlet-title ui-sortable-handle">
                                    <div class="id caption">
                                        <i class="id fa fa-gift frame-variable" frame-variable="title"> 标 题</i></div>
                                    <div class="actions">
                                        <a href="javascript:;" class="btn btn-default btn-sm">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                        <a href="javascript:;" class="btn btn-default btn-sm">
                                            <i class="fa fa-plus"></i> Add </a>
                                        <a class="btn btn-sm btn-icon-only btn-default fullscreen" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="id portlet-body frame-variable" frame-variable="body">
                                   
                                </div>
                            </div>