<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.dep.report.mapper.DepReportCellDataMapper">

 	<resultMap id="depReportCellDataResultMap"	type="com.glaf.dep.report.domain.DepReportCellData">
        <id property="id" column="ID_" jdbcType="BIGINT" />
        <result property="cellId" column="CELL_ID_" jdbcType="BIGINT"/>
        <result property="inputMode" column="INPUTMODE_" jdbcType="VARCHAR"/>
        <result property="readOnly" column="READONLY_" jdbcType="VARCHAR"/>
        <result property="dtype" column="DTYPE_" jdbcType="VARCHAR"/>
        <result property="defVal" column="DEFVAL_" jdbcType="VARCHAR"/>
        <result property="ruleJson" column="RULEJSON_" jdbcType="VARCHAR"/>
        <result property="enCondition" column="ENCONDITON_" jdbcType="VARCHAR"/>
        <result property="creator" column="CREATOR_" jdbcType="VARCHAR"/>
        <result property="createDateTime" column="CREATEDATETIME_" jdbcType="TIMESTAMP"/>
        <result property="modifier" column="MODIFIER_" jdbcType="VARCHAR"/>
        <result property="modifyDateTime" column="MODIFYDATETIME_" jdbcType="TIMESTAMP"/>
	</resultMap>

 
	<insert id="insertDepReportCellData" parameterType="com.glaf.dep.report.domain.DepReportCellData">
		insert into DEP_REPORT_CELLDATA 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    ID_
			<if test="cellId != null">
				,CELL_ID_ 
			</if>
			<if test="inputMode != null">
				,INPUTMODE_ 
			</if>
			<if test="readOnly != null">
				,READONLY_ 
			</if>
			<if test="dtype != null">
				,DTYPE_ 
			</if>
			<if test="defVal != null">
				,DEFVAL_ 
			</if>
			<if test="ruleJson != null">
				,RULEJSON_ 
			</if>
			<if test="enCondition != null">
				,ENCONDITON_ 
			</if>
			<if test="creator != null">
				,CREATOR_ 
			</if>
			<if test="createDateTime != null">
				,CREATEDATETIME_ 
			</if>
			<if test="modifier != null">
				,MODIFIER_ 
			</if>
			<if test="modifyDateTime != null">
				,MODIFYDATETIME_ 
			</if>
        </trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			  #{id, jdbcType=BIGINT}
	     
			<if test="cellId != null">
				,#{cellId, jdbcType=BIGINT}
			</if>
			<if test="inputMode != null">
				,#{inputMode, jdbcType=VARCHAR}
			</if>
			<if test="readOnly != null">
				,#{readOnly, jdbcType=VARCHAR}
			</if>
			<if test="dtype != null">
				,#{dtype, jdbcType=VARCHAR}
			</if>
			<if test="defVal != null">
				,#{defVal, jdbcType=VARCHAR}
			</if>
			<if test="ruleJson != null">
				,#{ruleJson, jdbcType=VARCHAR}
			</if>
			<if test="enCondition != null">
				,#{enCondition, jdbcType=VARCHAR}
			</if>
			<if test="creator != null">
				,#{creator, jdbcType=VARCHAR}
			</if>
			<if test="createDateTime != null">
				,#{createDateTime, jdbcType=TIMESTAMP}
			</if>
			<if test="modifier != null">
				,#{modifier, jdbcType=VARCHAR}
			</if>
			<if test="modifyDateTime != null">
				,#{modifyDateTime, jdbcType=TIMESTAMP}
			</if>
	    </trim>
    </insert>

	 
	<update id="updateDepReportCellData" parameterType="com.glaf.dep.report.domain.DepReportCellData">
		update DEP_REPORT_CELLDATA
		set
        <trim prefix="" suffix="" suffixOverrides=",">		
			<if test="cellId != null">
				CELL_ID_ = #{cellId, jdbcType=BIGINT},
			</if>
			<if test="inputMode != null">
				INPUTMODE_ = #{inputMode, jdbcType=VARCHAR},
			</if>
			<if test="readOnly != null">
				READONLY_ = #{readOnly, jdbcType=VARCHAR},
			</if>
			<if test="dtype != null">
				DTYPE_ = #{dtype, jdbcType=VARCHAR},
			</if>
			<if test="defVal != null">
				DEFVAL_ = #{defVal, jdbcType=VARCHAR},
			</if>
			<if test="ruleJson != null">
				RULEJSON_ = #{ruleJson, jdbcType=VARCHAR},
			</if>
			<if test="enCondition != null">
				ENCONDITON_ = #{enCondition, jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				CREATOR_ = #{creator, jdbcType=VARCHAR},
			</if>
			<if test="createDateTime != null">
				CREATEDATETIME_ = #{createDateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				MODIFIER_ = #{modifier, jdbcType=VARCHAR},
			</if>
			<if test="modifyDateTime != null">
				MODIFYDATETIME_ = #{modifyDateTime, jdbcType=TIMESTAMP},
			</if>
        </trim>
		where
          ID_ = #{id, jdbcType=BIGINT}
		
    </update>

 
	<delete id="deleteDepReportCellDataById" parameterType="long"> 
        delete from DEP_REPORT_CELLDATA
        where ID_ =	#{id}
	</delete>

	
	<delete id="deleteDepReportCellDatas" parameterType="com.glaf.dep.report.query.DepReportCellDataQuery">
		delete from DEP_REPORT_CELLDATA
		where ( 
 			  ID_ IN
              <foreach item="x_id" index="index" collection="ids" 
                     open="(" separator="," close=")">
                  #{x_id}
              </foreach>
		)
	</delete>


	<select id="getDepReportCellDataById" parameterType="long" resultMap="depReportCellDataResultMap">
		select * from DEP_REPORT_CELLDATA where ID_ = #{id}
	</select>


	<select id="getDepReportCellDatas" 
	    parameterType="com.glaf.dep.report.query.DepReportCellDataQuery"
		resultMap="depReportCellDataResultMap">
		select distinct E.*
		<include refid="selectDepReportCellDatasSql" />
		<choose>
		  <when test="orderBy != null">
		     order by ${orderBy}
          </when>
		  <otherwise>
		      order by E.ID_ desc
		  </otherwise>
        </choose>
	</select>


	<select id="getDepReportCellDataCount" 
	    parameterType="com.glaf.dep.report.query.DepReportCellDataQuery"
		resultType="int">
		select count(*)
		<include refid="selectDepReportCellDatasSql" />
	</select>


	<sql id="selectDepReportCellDatasSql">

		from DEP_REPORT_CELLDATA E
		
		<where>
		       1 = 1  
			 

			<if test="cellId != null">
				and E.CELL_ID_ = #{cellId}
            </if>

			<if test="cellIdGreaterThanOrEqual != null">
				and E.CELL_ID_ &gt;= #{cellIdGreaterThanOrEqual}
            </if>

			<if test="cellIdLessThanOrEqual != null">
				and E.CELL_ID_ &lt;= #{cellIdLessThanOrEqual}
            </if>

			<if test="cellIds != null and cellIds.size() &gt; 0">
			    and E.CELL_ID_ IN
                <foreach item="x_cellId" index="index" collection="cellIds" 
                     open="(" separator="," close=")">
                  #{x_cellId}
                </foreach>
			</if>
      
	        
			<if test="inputMode != null and inputMode != '' ">
				and E.INPUTMODE_ = #{inputMode}
            </if>

			<if test="inputModeLike != null and inputModeLike != '' ">
				and E.INPUTMODE_ like #{inputModeLike}
            </if>

			<if test="inputModes != null and inputModes.size() &gt; 0">
			    and E.INPUTMODE_ IN
                <foreach item="x_inputMode" index="index" collection="inputModes" 
                     open="(" separator="," close=")">
                  #{x_inputMode}
                </foreach>
			</if>
	        
			<if test="readOnly != null and readOnly != '' ">
				and E.READONLY_ = #{readOnly}
            </if>

			<if test="readOnlyLike != null and readOnlyLike != '' ">
				and E.READONLY_ like #{readOnlyLike}
            </if>

			<if test="readOnlys != null and readOnlys.size() &gt; 0">
			    and E.READONLY_ IN
                <foreach item="x_readOnly" index="index" collection="readOnlys" 
                     open="(" separator="," close=")">
                  #{x_readOnly}
                </foreach>
			</if>
	        
			<if test="dtype != null and dtype != '' ">
				and E.DTYPE_ = #{dtype}
            </if>

			<if test="dtypeLike != null and dtypeLike != '' ">
				and E.DTYPE_ like #{dtypeLike}
            </if>

			<if test="dtypes != null and dtypes.size() &gt; 0">
			    and E.DTYPE_ IN
                <foreach item="x_dtype" index="index" collection="dtypes" 
                     open="(" separator="," close=")">
                  #{x_dtype}
                </foreach>
			</if>
	        
			<if test="defVal != null and defVal != '' ">
				and E.DEFVAL_ = #{defVal}
            </if>

			<if test="defValLike != null and defValLike != '' ">
				and E.DEFVAL_ like #{defValLike}
            </if>

			<if test="defVals != null and defVals.size() &gt; 0">
			    and E.DEFVAL_ IN
                <foreach item="x_defVal" index="index" collection="defVals" 
                     open="(" separator="," close=")">
                  #{x_defVal}
                </foreach>
			</if>
	        
			<if test="ruleJson != null and ruleJson != '' ">
				and E.RULEJSON_ = #{ruleJson}
            </if>

			<if test="ruleJsonLike != null and ruleJsonLike != '' ">
				and E.RULEJSON_ like #{ruleJsonLike}
            </if>

			<if test="ruleJsons != null and ruleJsons.size() &gt; 0">
			    and E.RULEJSON_ IN
                <foreach item="x_ruleJson" index="index" collection="ruleJsons" 
                     open="(" separator="," close=")">
                  #{x_ruleJson}
                </foreach>
			</if>
	        
			<if test="enCondition != null and enCondition != '' ">
				and E.ENCONDITON_ = #{enCondition}
            </if>

			<if test="enConditionLike != null and enConditionLike != '' ">
				and E.ENCONDITON_ like #{enConditionLike}
            </if>

			<if test="enConditions != null and enConditions.size() &gt; 0">
			    and E.ENCONDITON_ IN
                <foreach item="x_enCondition" index="index" collection="enConditions" 
                     open="(" separator="," close=")">
                  #{x_enCondition}
                </foreach>
			</if>
	        
			<if test="creator != null and creator != '' ">
				and E.CREATOR_ = #{creator}
            </if>

			<if test="creatorLike != null and creatorLike != '' ">
				and E.CREATOR_ like #{creatorLike}
            </if>

			<if test="creators != null and creators.size() &gt; 0">
			    and E.CREATOR_ IN
                <foreach item="x_creator" index="index" collection="creators" 
                     open="(" separator="," close=")">
                  #{x_creator}
                </foreach>
			</if>

			<if test="createDateTimeGreaterThanOrEqual != null">
				and E.CREATEDATETIME_ &gt;= #{createDateTimeGreaterThanOrEqual}
            </if>

			<if test="createDateTimeLessThanOrEqual != null">
				and E.CREATEDATETIME_ &lt;= #{createDateTimeLessThanOrEqual}
            </if>

	        
			<if test="modifier != null and modifier != '' ">
				and E.MODIFIER_ = #{modifier}
            </if>

			<if test="modifierLike != null and modifierLike != '' ">
				and E.MODIFIER_ like #{modifierLike}
            </if>

			<if test="modifiers != null and modifiers.size() &gt; 0">
			    and E.MODIFIER_ IN
                <foreach item="x_modifier" index="index" collection="modifiers" 
                     open="(" separator="," close=")">
                  #{x_modifier}
                </foreach>
			</if>

			<if test="modifyDateTimeGreaterThanOrEqual != null">
				and E.MODIFYDATETIME_ &gt;= #{modifyDateTimeGreaterThanOrEqual}
            </if>

			<if test="modifyDateTimeLessThanOrEqual != null">
				and E.MODIFYDATETIME_ &lt;= #{modifyDateTimeLessThanOrEqual}
            </if>

            <if test="dataRequest != null and dataRequest.filter != null ">
			    <include refid="com.glaf.global.GlobalMapper.dataRequestFilterCondition" />
			</if>
			 
		</where>
	</sql>

</mapper>