		 <li id="progressbarbt_2339" tmpid="2339" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="纯色型（默认）">
		   <div class="mymedia-body"><h4 class="mymedia-heading">纯色型（默认）</h4></div>
		 </li>
		 <li id="progressbarbt_2340" tmpid="2340" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="条纹型">
		   <div class="mymedia-body"><h4 class="mymedia-heading">条纹型</h4></div>
		 </li>
