  <div class="form-group">
      <div class="input-group">
          <div class="icheck-list">
              <label>
                  <input type="checkbox" class="icheck id frame-variable" frame-variable="fv1" data-checkbox="icheckbox_minimal-grey"> Checkbox 1 </label>
              <label>
                  <input type="checkbox" class="icheck id frame-variable" frame-variable="fv2" data-checkbox="icheckbox_minimal-grey"> Checkbox 2 </label>
              <label>
                  <input type="checkbox" class="icheck id frame-variable" frame-variable="fv3" data-checkbox="icheckbox_minimal-grey"> Checkbox 3 </label>
          </div>
      </div>
  </div>