		 <li id="textboxbt_2138" tmpid="2138" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="方框型">
		   <div class="mymedia-body"><h4 class="mymedia-heading">方框型</h4></div>
		 </li>
		 <li id="textboxbt_7939" tmpid="7939" class="mymedia" style="float: left;cursor:pointer;">
		   <img class="mymedia-object" style="width:100px;height:100px;" src="/glaf/images/notfound.jpg" alt="..." title="下划线">
		   <div class="mymedia-body"><h4 class="mymedia-heading">下划线</h4></div>
		 </li>
